1. Write a Python program that reads 5 numbers from the user into a list. After reading each number, print all the numbers that have been entered so far in the list.


Example:

If the user enters 3, prints “Numbers in the list: [3]”

If the user enters 5 next, prints 
“Numbers in the list: [3, 5]”

If the user enters 34, prints
 “Numbers in the list: [3, 5, 34]”

If the user then enters -11, prints 
“Numbers in the list: [3, 5, 34, -11]”

Finally, if the user enters 0 as the 
last number, prints “Numbers in the
 list: [3, 5, 34, -11, 0]”

In [ ]:
#Solution:01
#Method: 02 
my_list=[]
for i in range(5):
  numbers=int(input())
  my_list+=[numbers]
  print(f"Numbers in the list: {my_list}")

1
Numbers in the list: [1]
2
Numbers in the list: [1, 2]
3
Numbers in the list: [1, 2, 3]
4
Numbers in the list: [1, 2, 3, 4]
5
Numbers in the list: [1, 2, 3, 4, 5]

In [ ]:
#Method:01 (Don't Follow XD)
my_list=[]
for i in  range(1,6): 
  if i==1:
   n=int(input("Please enter your 1st number: "))
   my_list+=[n]
   print(f"Numbers in the list: {my_list}")
  elif i==2:
   n=int(input("Please enter your 2nd number: ")) 
   my_list+=[n]
   print(f"Numbers in the list: {my_list}")
  elif i==3:
   n=int(input("Please enter your 3rd number: "))
   my_list+=[n]
   print(f"Numbers in the list: {my_list}")

  else:
   n=int(input(f"Please enter your {i}th number: ")) 
   my_list+=[n] 
   print(f"Numbers in the list: {my_list}")

Please enter your 1st number: 1
Numbers in the list: [1]
Please enter your 2nd number: 2
Numbers in the list: [1, 2]
Please enter your 3rd number: 3
Numbers in the list: [1, 2, 3]
Please enter your 4th number: 4
Numbers in the list: [1, 2, 3, 4]
Please enter your 5th number: 5
Numbers in the list: [1, 2, 3, 4, 5]

In [ ]:
#Method:03
my_list=[]
for i in range(5):
  numbers=int(input())
  my_list.append(numbers)
  print(f"Numbers in the list: {my_list}")

1
Numbers in the list: [1]
2
Numbers in the list: [1, 2]
3
Numbers in the list: [1, 2, 3]
4
Numbers in the list: [1, 2, 3, 4]
5
Numbers in the list: [1, 2, 3, 4, 5]

2. Write a Python program that takes a list as an input from the user, then creates a new list excluding the first and last two elements of the given list and prints the new list. If there are not enough elements in the list to do the task, print "Not possible".
Note: You may use list slicing.


Sample Input 1:

[10, 20, 24, 25, 26, 35, 70]

Sample Output 1:

[24, 25, 26]

In [ ]:
a_list=[10, 20, 24, 25, 26, 35, 70][2:-2]
print(a_list)

[24, 25, 26]

In [ ]:
#Solution to Task:02

user=input()
user=user[1:-1]       #Please Integer er slicing koris na bhai
# print(user)
list=user.split(",")
my_list=[]
if len(list)<4:
  print("Not possible")
else:      
  
    for i in range(2,len(list)-2):
        my_list.append(int(list[i]))
    print(my_list)

[1,2,3]
Not possible

In [ ]:
#task2
user=input("An input from user ")
print("user dise :",user)
new=user[1:-1]
print('ami banaisi',new)                              # 10, 20, 24, 25, 26, 35, 70
new_list=[]                                  # []
var=""                                       # ''
for i in new:                               # 10, 20, 24, 25, 26, 35, 70   
   if i==",":                                # if i== ','
      new_list.append(int(var))              # new_list e add korbo empty string
      var=""                                  
   else:
     var+=i                                  # var='10'
new_list.append(int(var))   
print('list banalam',new_list)                
if len(new_list)>=4:
   print('eki holo',new_list[2:-2])
else:
   print("Not possible")

An input from user [10, 20, 24, 25, 26, 35, 70]
user dise : [10, 20, 24, 25, 26, 35, 70]
ami banaisi 10, 20, 24, 25, 26, 35, 70
list banalam [10, 20, 24, 25, 26, 35, 70]
eki holo [24, 25, 26]

**3.**Write a python program that reads 5 numbers from the user into a list, and then prints them in the reverse order.
Hint: You may create a list to store the input numbers and then use loop to print them in reverse order


Sample Input:

5

-5

100

1

0

Sample Output:

Input data:c

Printing values from the list in 
reverse order:

0

1

100

-5

5

In [ ]:
#Solution: 03
my_list=[]
for i in  range(5):
  n=int(input())
  my_list+=[n]
print(f"Input data:{my_list}")
print("Printing Values from the list in reverse order: ")
print(*my_list[-1::-1],sep="\n")

In [ ]:
#Method:02
a_list=[]
for count in range(0,5):
  user=int(input())
  a_list.append(user)
print("Input data", a_list)
print("Printing values from the list in reverse order: ")
print(*a_list[-1:len(a_list)*-1-1:-1],sep="\n")

1
2
3
4
5
Input data [1, 2, 3, 4, 5]
Printing values from the list in reverse order:
5
4
3
2
1

In [ ]:
#Method:03
list_of_numbers = []
for i in range(1, 6):
    number = int(input("Sir, please enter you desired number: "))
    list_of_numbers.append(number)

print("Input data:", list_of_numbers)
print("Printing values from the list in reverse order: ")

# printing without for loop
print(*list_of_numbers[::-1], sep="\n")

Sir, please enter you desired number: 1
Sir, please enter you desired number: 2
Sir, please enter you desired number: 3
Sir, please enter you desired number: 4
Sir, please enter you desired number: 5
Input data: [1, 2, 3, 4, 5]
Printing values from the list in reverse order:
5
4
3
2
1

**4.**Write a Python program that turns every item of a list into its square. [Your program should work for any lists; make changes to the lists below and check whether your program works correctly]


Given list 1:


[1, 2, 3, 4, 5, 6, 7]


Sample Output 1:


[1, 4, 9, 16, 25, 36, 49]

In [ ]:
print(5**3)

125

In [ ]:
#Solution:04 (Follow)
list=[1, 2, -4, 0, -5, -6, 7]
my_list=[]
for i in list:
  my_list.append(int(i)*int(i))
print(my_list)

[1, 4, 16, 0, 25, 36, 49]

In [ ]:
#Solution:04 (Follow)
list=[1, 2, 3, 4, 5, 6, 7]
my_list=[]
for i in list:
  if int(i)<0:
    my_list.append((int(i)*-1)**2)
  else:
    my_list.append(pow(int(i),2))
print(my_list)

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
#Solution:04
input=input()
input=input[1:-1]
list=input.split(",")
my_list=[]
for i in list:
  if int(i)<0:
    my_list.append((int(i)*-1)**2)
  else:
    my_list.append(int(i)**2)    # or#  my_list.append(pow(int(i),2))
print(my_list)

[1, 2, 3, 4, 5, 6, 7]
[1, 4, 9, 16, 25, 36, 49]

In [ ]:
#Method:02
user_input = input("Sir, please enter your desired list: ")
user_input = user_input[1:len(user_input)-1]

list_of_str = user_input.split(",")
list_of_numbers = []

for number in list_of_str:
    list_of_numbers.append(int(number.strip()))

result_list = []

for values in list_of_numbers:
    if int(values) < 0:
        result_list.append((int(values)*-1)**2)
    else:
        result_list.append(int(values)**2)

print(result_list)

**5**.Write a Python program that removes all Empty strings from a given list and prints the modified list. [Your program should work for any given list; make changes to the list below and check whether your program works correctly]

Given List:

["hey", "there", "", "what's", "", "up", "", "?"]

Sample Output:

Original List: ['hey', 'there', '', 
"what's", '', 'up', '', '?']

Modified List: ['hey', 'there', "what's", 
'up', '?']

In [ ]:
#05 (Main)
list=["hey", "there", "", "what's", "", "up", "", "?"]
list2=[]
for i in list:
  if i=="":
    pass
  else:
    list2.append(i)
print(list)    
print(list2)

['hey', 'there', '', "what's", '', 'up', '', '?']
['hey', 'there', "what's", 'up', '?']

In [ ]:
user_input = input("Sir, please enter your desired list: ")        #["hey", "there", "", "what's", "", "up", "", "?"]
user_input = user_input[1:len(user_input)-1]
                                                                  # "hey", "there", "", "what's", "", "up", "", "?"
print(user_input)

list_of_str = user_input.split(",")
list_of_words = []

for number in list_of_str:
    list_of_words.append(number.strip('" '))
print(list_of_words)

result = []

for values in list_of_words:
    if values != '':
        result.append(values)

print("Original List: ",list_of_words)                       #  Original List: ['hey', 'there', '', "what's", '', 'up', '', '?']
print("Modified List: ",result)                              #  Modified List: ['hey', 'there', "what's", 'up', '?']

Sir, please enter your desired list: ["hey", "there", "", "what's", "", "up", "", "?"]
"hey", "there", "", "what's", "", "up", "", "?"
['hey', 'there', '', "what's", '', 'up', '', '?']
Original List:  ['hey', 'there', '', "what's", '', 'up', '', '?']
Modified List:  ['hey', 'there', "what's", 'up', '?']

**06.** Write a Python program that reads a string containing 7 numbers separated by commas, then makes a list of those numbers and prints the largest number and its location or index position in the list. [You are not allowed to use the max(), sort(), sorted() function here]
[Your program should work for any given list; make changes to the list below and check whether your program works correctly]
Hint: You may assume the first input to be

the largest value initially and the largest


Note: You may need to be careful while 

printing the output. Depending on your code,

 you might need data conversion

In [ ]:
#Solution: 06(Main)
list1=input()
a=list1[0]
b=[]
for i in range(1,len(list1)):
  if list1[i]!=",":
    a+=list1[i]
  else:
    b.append(int(a))
    a=""
max=b[0]
for i in range(len(b)):
  if b[i]>max:
    max=b[i]
  maxindex=i

print(f"Largest number in the list is {max} which was found at index {maxindex}")

7, 13, 2, 10, 6, -11, 0
Largest number in the list is 13 which was found at index 5

In [ ]:
#Solution: 06 (method:02)
number=input()
list=number.split(",")
print(list)

largest=int(list[0])
new_list=[int(list[0])]

for i in range(1,len(list)):
  new_list.append(int(list[i]))
  if largest<int(list[i]):
     largest=int(list[i])
     index=i

print(f"My List: {new_list}")
print(f"Largest number in the list is {largest} which was found at index {index}")

7, 13, 2, 10, 6, -11, 0
['7', ' 13', ' 2', ' 10', ' 6', ' -11', ' 0']
My List: [7, 13, 2, 10, 6, -11, 0]
Largest number in the list is 13 which was found at index 1

**07.**Suppose you have been given two lists. Write a Python program that replaces the last element of the first list with the second list. [Your program should work for any two given lists; make changes to the lists below and check whether your program works correctly]

Sample given lists 1:

List_one : [1, 4, 7, 5]

List_two : [6, 1, 3, 9]

Sample Output 1:

[1, 4, 7, 6, 1, 3, 9]


Sample given lists 2:

List_one : [1, 3, 5, 7, 9, 10]

List_two : [2, 4, 6, 8]

Sample Output 2:

[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [ ]:
#07 (Main solution)
list_one=[1,4,7,5]
list_two=[6,1,3,9]
list_3=[]
list_4=[]
for i in range(len(list_one)-1):
   list_3.append(list_one[i])
for j in range(len(list_two)):
  list_4.append(list_two[j])

print(list_3+list_4)

[1, 4, 7, 6, 1, 3, 9]

In [ ]:
#07(solution:02)
list1=[1, 4, 7, 5]
list2=[6, 1, 3, 9]
print(list1[:-1]+list2)

[1, 4, 7, 6, 1, 3, 9]

In [ ]:
#Solution: 07 (Method: 01)

list_one=input()
list_two=input()
list_one=list_one[1:-1]
list_two=list_two[1:-1]
list_one=list_one.split(",")
# print(list_one)
list_two=list_two.split(",")
# print(list_two)
my_list_1=[]
my_list_2=[]
for i in range(0,len(list_one)-1):
  my_list_1.append(int(list_one[i]))
# print(my_list_1)
for j in range(len(list_two)):
  my_list_2.append(int(list_two[j]))
# print(my_list_2)  

my_list_1.extend(my_list_2)
print(my_list_1)

[1,4,7,5]
[6,1,3,9]
[1, 4, 7, 6, 1, 3, 9]

In [ ]:
# Solution to task 7

user_input = input("Sir, please enter your desired list: ")
user_input = user_input[1:len(user_input)-1]

list_of_str = user_input.split(",")
list_of_numbers = []

for number in list_of_str:
    list_of_numbers.append(int(number))

user_input1 = input("Sir, please enter your desired list: ")
user_input1 = user_input1[1:len(user_input1)-1]

list_of_str1 = user_input1.split(",")
list_of_numbers1 = []

for number in list_of_str1:
    list_of_numbers1.append(int(number))

result = list_of_numbers[:len(list_of_numbers)-1]
result.extend(list_of_numbers1)

print(result)

Sir, please enter your desired list: [1,3,5,7,9,10]
Sir, please enter your desired list: [2,4,6,8]
[1, 3, 5, 7, 9, 2, 4, 6, 8]

**08.** Assume, you have been given two lists. [Your program should work for any two given lists; change the following lists and check whether your program works correctly for the code you have written]

list_one = [1, 2, 3, 4, 5, 6, 7, 8, 9]

list_two = [10, 11, 12, -13, -14, -15, -16]

Write a Python program that creates a new list with all the even elements of both of the given lists and prints the new list.
Hint: You may create a third list to store the even elements of the given lists.


Output for the above lists: [2, 4, 6, 8, 10, 12, -14, -16]

In [ ]:
#Solution: 08 (Main Solution) 
list_one=[1, 2, 3, 4, 5, 6, 7, 8, 9]
list_two=[10, 11, 12, -13, -14, -15, -16]
my_list_1=[]
my_list_2=[]
for i in list_one:
  if(i)%2==0:
    my_list_1+=[(i)]
for j in list_two:
  if (j)%2==0:
    my_list_2+=[(j)]

print(my_list_1+my_list_2)

[2, 4, 6, 8, 10, 12, -14, -16]

In [ ]:
#Solution: 08 
list_one=input()
list_two=input()
list_one=list_one[1:-1]
list_two=list_two[1:-1]
list_one=list_one.split(",")
# print(list_one)
list_two=list_two.split(",")
# print(list_two)
my_list_1=[]
my_list_2=[]
for i in list_one:
  if int(i)%2==0:
    my_list_1+=[int(i)]
for j in list_two:
  if int(j)%2==0:
    my_list_2+=[int(j)]
my_list_1.extend(my_list_2)
print(my_list_1)

[1,2,3,4,5,6,7,8,9]
[10,11,12,-13,-14,-15,-16]
[2, 4, 6, 8, 10, 12, -14, -16]

**9.** Write a Python program that reads a string as an input from the user where multiple numbers are separated by spaces. Then, make a list of numbers from the input string without using the split() function and print the list. Finally, remove all the occurrences of even numbers from the same input list and print the modified list.


Sample Input:

7 12 4 55 96 2 11 61 33 42

Sample Output:

Original list: [7, 12, 4, 55, 96, 2, 11, 61, 33, 42]

Modified list: [7, 55, 11, 61, 33]

In [ ]:
#numbers='7 12 4 55 96 2 11 61 33 42'

numbers=input('sir please enter multiple numbers seperated by spaces: ').split(" ")
print(numbers)

 
for i in numbers:
  print(i)

sir please enter multiple numbers seperated by spaces: 7 12 4 55 96 2 11 61 33 42
['7', '12', '4', '55', '96', '2', '11', '61', '33', '42']
7
12
4
55
96
2
11
61
33
42
7
12
4
55
96
2
11
61
33
42

In [ ]:
#Main SOlution
user=input('sir,please enter a string: ')+' '
print(user)
new=[]
new1=''
for i in user:
  if i!=" ":
     new1+=i
  else:
    new.append(int(new1)) #kitkat ke append korsi
    new1=""  
print(new1)                 
# new.append(int(new1))    
# print(user) 
print('The list is',new)     
ramisa=[]
for i in new:
  if i%2!=0:
    ramisa.append(i)
print('odd numbers list',ramisa)

sir,please enter a string: 7 12 4 55 96 2 11 61 33 42
7 12 4 55 96 2 11 61 33 42

The list is [7, 12, 4, 55, 96, 2, 11, 61, 33, 42]
odd numbers list [7, 55, 11, 61, 33]

In [ ]:
#Method: 01
a=input()+" "                    #7 12 4 55 96 2 11 61 33 42+space
                                #7 12 4 55 96 2 11 61 33 42 
b=[]
d=[]
c=""
for i in a:                         
  if i!=" ":                 #c=7       i=1       i=2         i=" "
    c+=i                     #          c=1       c=12   
  else:
    b.append(int(c))        #  b=[7]                         b=[7,12]
    c=""                    #  c=""                          c=""
for i in b: 
  if i%2!=0:
    d.append(i)
print(f"Original List: {b}")
print(f"Modified List: {d}")

**10.** Write a Python program that reads a string as an input from the user where multiple numbers are separated by commas. Then, make a list of numbers from the input string and print the list. Finally, remove multiple occurrences of any numbers from the input list and print the modified list without duplicate values.
Hint: You may create a third list to store the results but you may try doing it in the same input list. You can use membership operators (in, not in) to make sure no duplicates are added.

Sample Input 1:

0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 

Sample Output 1:

Input list: [0, 0, 1, 2, 3, 4, 4, 5, 
6, 6, 6, 7, 8, 9, 4, 4]

Modified list: [0, 1, 2, 3, 4, 5, 6, 
7, 8, 9]

In [ ]:
#Solve: 10
input=input()
input=input.split(",")
list=[]
for i in input:
   list.append(int(i))
# print(list) 
my_list=[]
my_list.append(list[0])
# print(my_list)
for i in list:
    if i not in my_list:
        my_list.append(int(i))
    else:
        pass
print(f"Input list: {list}")
print(f"Modified list: {my_list}")

0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4
Input list: [0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
Modified list: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#Method 02(solved with sets)
input=input()
input=input.split(",")
list=[]
for i in input:
   list.append(int(i))
# print(list) 
s={list[0]}
for i in list:
    s.add(i)
print(s)

**11.** Assume, you have been given two lists: List_one and List_two. [Your program should work for any two given lists; change the following lists and check whether your program works correctly for the code you have written]

Write a Python program that prints "True", if the given two lists have at least one common member. Otherwise, print "False".

Note: Please use concepts of flag and break to solve this task.

In [ ]:
list_one=[1, 0, 3, 2, 5]
list_two=[8, 7, 6, 9]
flag=False

for i in list_one:
  if i in list_two:
    flag=True
    break
  
if flag:  #eita kemne kaaj kore.. if flag mane if true: flag toh false e chilo
  print("True")
else:
  print("False")

False

In [ ]:
#Task:11 (Main)
list_one=[1, 4, 3, 2, 5]
list_two=[8, 7, 6, 9]
flag=False
for i in list_one:
  if i  in list_two:
    flag=True
    break
if flag:
  print("True") 
else:
  print("False")

False

In [ ]:
#Solve:11
list_one=input()
list_one=list_one[1:-1]
list_two=input()
list_two=list_two[1:-1]
list_one=list_one.split(",")
list_two=list_two.split(",")
list_1=[]
list_2=[]
for i in list_one:
  
  list_1.append(int(i.strip()))
for j in list_two:
  list_2.append(int(j.strip()))
print(f"List_one:{list_1}")
print(f"List_two:{list_2}")
flag=False
for i in list_one:
  if i in list_two:
      flag=True
      break
if flag:
  print("True")
else:
  print("False")

[1,4,   3,2,6]
[5,6,7,9,8]
List_one:[1, 4, 3, 2, 6]
List_two:[5, 6, 7, 9, 8]
True

In [ ]:
# Solution to task 11

user_input = input("Sir, please enter your desired list: ")
user_input = user_input[1:len(user_input)-1]

list_of_str = user_input.split(",")
list_of_numbers = []

for number in list_of_str:
    list_of_numbers.append(int(number.strip()))

user_input1 = input("Sir, please enter your desired list: ")
user_input1 = user_input1[1:len(user_input1)-1]

list_of_str1 = user_input1.split(",")
list_of_numbers1 = []

for number in list_of_str1:
    list_of_numbers1.append(int(number.strip()))

common = False

for item in list_of_numbers:
    if item in list_of_numbers1:
        common = True

print(common)

Sir, please enter your desired list: "1,2,2,2"
Sir, please enter your desired list: "1,0,9"
True

**16.** Write a Python program that reads 7 numbers into a list and prints the second largest number and its location or index position on the list. [You are not allowed to use the max(), sort(), sorted() function here]


Sample Input:

7, 13, 2, 10, 6, -11, 0

Sample Output:

My list: [7, 13, 2, 10, 6, -11, 0]

Second largest number in the list is 
10 which was found at index 3.

In [ ]:
numbers=input().split(",")
lst=[]
for i in numbers:
  lst.append(int(i))
index=None
minimum=lst[0]
maximum=lst[0]
for i in range(1,len(lst)):
  if lst[i]>maximum:
    maximum=lst[i]  
  else:
    minimum=lst[i]  



print(f'Second largest number in the list is {maximum} which was found at index {index}')

7, 13, 2, 10, 6, -11, 0
0
Second largest number in the list is 13 which was found at index None

In [ ]:
#Solution :16
numbers=input().split(",")
list=[]
for i in numbers:
  list.append(int(i))
  c=0
for i in list:
  if c==0:
    maximum=i
    minimum=i
    c=1
  if i>maximum:
    maximum=i
  if i<minimum:
    minimum=i 
print(maximum)
print(minimum)         
count=0
for i in list:
  if minimum<i<maximum:
     minimum=i
     index=count
  count+=1
print(f"Second largest number in the list is {minimum} which was found at index {index}")

7, 13, 2, 10, 6, -11, 0
13
-11
Second largest number in the list is 10 which was found at index 3

**17.** Write a Python program that reads 5 numbers into a list and prints the smallest and largest number and their locations in the list.

 [You are not allowed to use the max()

 , min(), sort(), sorted() functions 
 
 here]

In [ ]:
#Solution :17
numbers=input().split(",")
list=[]
for i in numbers:
  list.append(int(i))
maximum=list[0]
minimum=list[0] 
count=1 

for i in range(1,len(list)):

  if list[i]>maximum:
    maximum=list[i]
    index_max=count
  if list[i]<minimum:
    minimum=list[i]
    index_min=count
  count+=1
print(f"Smallest number in the list is {minimum} which was found at index {index_min}")
print(f"Largest number in the list is {maximum} which was found at index {index_max}")

7, 13, -5, 10, 6
Smallest number in the list is -5 which was found at index 2
Largest number in the list is 13 which was found at index 1

**18.** Write a Python program that takes two lists as an input from the user. Then print a new list with the common elements of both the input lists.
Hint: You may need to create a third list to store the results. You can use membership operators (in, not in) to make sure similar elements are added.
Sample Input 1:

A, B, C, D

C, E, F, B

Sample Output 1:

['C', 'B']

Sample Input 2:

1, 3, A, H, P

A, G, 1, P, O

Sample Output 2:

['1', 'A', 'P']

In [ ]:
#Method:01 (Follow this)
a=input().split(",")
b=input().split(",")
print(a)
print(b)
c=[]
for i in a:

  if i in b:
    c.append(i)
print(c)

1,3,A,H,P
A,G,1,P,O
['1', '3', 'A', 'H', 'P']
['A', 'G', '1', 'P', 'O']
['1', 'A', 'P']

In [ ]:
#Solve: 18
list_one=input().split(",")
list_two=input().split(",")
list_3=[]
list_4=[]
for i in list_one:
  list_3.append((i))
for j in list_two:
  if (j) in list_3:
    list_4.append((j))
print(list_4)

A, G, 1, P, O
1, 3, A, H, P
[' P']

**19. **Assume, you have been given two lists. [Your program should work for any two given lists; make changes to the lists below and check whether your program works correctly]

list_one = [1, 2, 2, 4, 5, 5, 7, 99, 200, 303, 70]

list_two = [1, 1, 2, 3, 3, 3, 4, 5, 200, 500, -5]

Write a Python program that creates a new list with all the unique elements of both the given lists. You need to make sure that there are no duplicates in the resulting list. Finally, print the updated list.
Hint: You may create a third list to store the results. You can use membership operators (in, not in) to make sure no duplicates are added.

list_one = [1, 2, 2, 4, 5, 5, 7, 99, 200, 303, 70]


list_two = [1, 1, 2, 3, 3, 3, 4, 5, 200, 500, -5]

Output for the above two lists: [1, 2, 4, 5, 7, 99, 200, 303, 70, 3, 500, -5]

In [ ]:
#Method: Cute 
list_one=input()
list_one=list_one[1:-1]
list_two=input()
list_two=list_two[1:-1]
list_one=list_one.split(",")
list_two=list_two.split(",")
sum=list_one+list_two
# print(sum)
Final_list=[]
for i in sum:
  if int(i) not in Final_list:
    Final_list.append(int(i))
print(f"Output for the above two lists: {Final_list}")

[1, 2, 2, 4, 5, 5, 7, 99, 200, 303, 70]
[1, 1, 2, 3, 3, 3, 4, 5, 200, 500, -5]
Output for the above two lists: [1, 2, 4, 5, 7, 99, 200, 303, 70, 3, 500, -5]

In [ ]:
#Method: 02 (Eker)
list_one=input()
list_one=list_one[1:-1]
list_two=input()
list_two=list_two[1:-1]
list_one=list_one.split(",")
list_two=list_two.split(",")
sum=list_one+list_two
set={int(sum[0])}
for i in sum:
   a=int(i)
   set.add(a)
list=[]   
for j in set:
  list.append(j)
print(f"Output for the above two lists: {list}")

**20.** Write a python program to take a list as a string input from the user and print it back to the user as a list. Please look at the examples below for clarification.

[Must use string split() and strip() functions]



Sample Input 3:

"      [1,   2   ,         3,   50,   4]         "

Sample Output 3:

Original data:       [1,   2   ,         3,   50,   4]   
      
After removing square brackets: 1,   2   ,         3,   50,   4

Numbers in string format with extra white spaces: [' 1', '   2   ', '  
       3', '   50', '   4']

Final data (numbers in list format): [1, 2, 3, 50, 4]

In [ ]:
#Solution: 20
given=input()
given=given[1:-1]
print(f"Original data: {given}")
given=given.strip()
given=given[1:-1]
print(f"After removing the square brackets: {given}")
new=given.split(",")
print(f"Numbers in string format with extra white spaces: {new}")
final=[]
for i in new:
  final.append(int(i.strip()))
print(f"Final data (numbers in list format): {final}")

"      [1,   2   ,         3,   50,   4]         "
Original data:       [1,   2   ,         3,   50,   4]
After removing the square brackets: 1,   2   ,         3,   50,   4
Numbers in string format with extra white spaces: ['1', '   2   ', '         3', '   50', '   4']
[1, 2, 3, 50, 4]

**21.** Write a Python program that takes a single string as an input from the user where few numbers are separated by commas. Now, make a list with the numbers of the given string. Then your task is to remove multiple occurrences of any number and then finally print the list without any duplicate values.
Hint (1): For obtaining the numbers from the string, use split(). For cleaning the data, use strip().
Hint (2): You may create a third list to store the results. You can use membership operators (in, not in) to make sure no duplicates are added.

Sample Input 1:

0, 0, 1, 2, 3, 4,       4, 5, 6, 6, 6,      7, 8, 9, 4,         4

Sample Output 1:

Given numbers in list: [0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]

List without any dupliacte values: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#Solution: 21
user=input()
user=user.split(",")
list=[]
for i in user:
  list.append(int(i.strip()))
print(list)  
new_list=[list[0]]
for j in list:
  if j not in new_list:
    new_list+=[j]
print(new_list)

7, 7, 7, 1,           0, 3, 3,   55, 9
[7, 7, 7, 1, 0, 3, 3, 55, 9]
[7, 1, 0, 3, 55, 9]

**#Extras (Practise Problems)**

Assume, you have been given two lists. Print both lists simultaneously such that list1 should display items
in original order and list2 in reverse order.



Given lists:

List1 = [10,20,30,40]

List2 = [100,200,300,400]

Sample Output:

10 400

20 30

30 200

40 100

In [ ]:
list1 =  [10,20,30,40,50]
list2 = [100,200,300,400]
list3=list2[-1::-1]

if len(list1)>len(list3):
  for i in range(len(list3)):
    print(f"{list1[i]} {list3[i]}")
  print(*list1[len(list3):])  

else:
  for i in range(len(list1)):
    print(f"{list1[i]} {list3[i]}")
  print(*list3[len(list1):])

10 400
20 300
30 200
40 100
50

2. Write a Python program to reverse strings in a given list of string values without using reverse() or
reversed().

Sample Input: ['Red','Green','Blue','White','Black']

Sample Output: ['deR', 'neerG', 'eulB', 'etihW', 'kcalB']

In [ ]:
a=['Red','Green','Blue','White','Black']
new=[]
for i in a:
  new+=a[-1::-1]
print(new)

In [ ]:
#Solution: 02(Problem)
a=input()

print(a)
a=a.strip("''")[1:-1].split(",")

print(a)
list=[]
for i in a:
   list.append(i[-1::-1].strip('"'))
   
print(list)

['Red','Green','Blue','White','Black']
['Red','Green','Blue','White','Black']
["'Red'", "'Green'", "'Blue'", "'White'", "'Black'"]
["'deR'", "'neerG'", "'eulB'", "'etihW'", "'kcalB'"]

*******
Write a Python program that takes a list from the user. Then find the first even and first odd number in
the list.

Sample Input1:

[1, 3, 5, 7, 4, 1, 6, 8]

Sample Output1:

First even:4 and First odd:1


Sample Input2:

[55, 5, 7, 9, 11]

Sample Output2:

First even: not found and First odd: 55

In [ ]:
#Solve:03
list=input()
list=list[1:-1].split(",")

for i in list:
  if int(i)%2!=0:
    odd=int(i)
    break
  else:
     odd="Not Found"    

for j in list:      
  if int(j)%2==0:
    even=int(j)  
    break
  else:
     even="Not Found" 
print(f"First even:{even} and First odd: {odd}")

[50, 52, 6, 2, 10]
First even:50 and First odd: Not Found

4. Assume, you have been given a list T and a number, N. Now, create a list by concatenating the input list
which range goes from 1 to N.


Sample input1:

T = ['p', 'q']

N = 5

Sample Output1:

['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']



Sample input2:

T = ['p', 'q', 'r']

N = 3

Sample Output2:

['p1', 'q1', 'r1', 'p2', 'q2', 'r2', 'p3', 'q3', 'r3']



Sample input3:

T = ['p', 'q', 'r','s']

N = 2

Sample Output3:

['p1', 'q1', 'r1', 's1', 'p2', 'q2', 'r2', 's2']

In [ ]:
T = ['p', 'q', 'r','s']
N=2
list=[]
for i in T:
  for j in range(1,N+1):
    list.append(i+str(j))
print(list)

['p1', 'p2', 'q1', 'q2', 'r1', 'r2', 's1', 's2']

In [ ]:
# Extras

In [ ]:
#Write a Python program to get a list, sorted in increasing order by the last
#  element in each tuple from a given list of non-empty tuples
a_tuple=[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
# output=[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

list2=[]
list3=[]

for i in a_tuple:
  list2.append(i[1])

list2.sort()

print(list2)  

for i in list2:
  for j in a_tuple:
    if i==j[1]:
      list3.append(j)
print(list3)

[1, 2, 3, 4, 5]
[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [ ]:
# Write a Python program to remove duplicates from a list.
list1=[1,2,3,4,5,5,5,5,66]
list2=[list1[0]]
print(list2)
for i in list1:
  if i not in list2:
    list2.append(i)
print(list2)

[1]
[1, 2, 3, 4, 5, 66]

In [ ]:
# Write a Python program that takes a list of integers and finds all pairs of integers that differ by three.
#  Return all pairs of integers in a list.

list1=([0, -3, -5, -7, -8])
number=list1[0]
lst=[]
for i in range(1,len(list1)):
  if abs(number-list1[i])==3:
    
    lst.append([number,list1[i]])
   
    number=list1[i]
print(lst)

[[0, -3]]