1. Write one line of Python code to access and print the value 400.

In [ ]:
a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717,
[1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))


print(a_tuple[3][3])

400

2. Assume, you have been given a tuple. Write a Python program that creates a new tuple excluding the first and last two elements of the given tuple and prints the new tuple.
Hint: You may use tuple slicing.

In [ ]:
#Solution:02
sample=input("Sir,please enter a Tuple consisting of some elements: ")[1:-1]

sample=sample.split(',')

if len(sample)>=4:
  a_list=[]
  for i in range(2,len(sample)-2):
     a_list.append(int(sample[i]))
  print(tuple(a_list))  

else:
  print("Not possible")

Sir,please enter a Tuple consisting of some elements: (1,2,3,4)
()

In [ ]:
#Solution:02(Method:02)

user_input = input("Sir, please enter your desired tuple: ")[1:-1]

user_list = user_input.split(", ")
for i in range(len(user_list)):
    user_list[i] = int(user_list[i])

result_tuple = tuple(user_list[2:len(user_list) - 2])

print(result_tuple)

3. Write a Python program that prints the size of the tuple and all its elements as shown below.

In [ ]:
#Solution:03 
book_info = (
("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291)
)
print(f"Size of the tuple is: ",len(book_info))

for loop in range(len(book_info)):
  print(book_info[loop],sep="\n")

Size of the tuple is:  4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

4. Write a Python program that prints the award category, the book name, and its total votes earned as shown below.
[Must use Tuple unpacking for printing and need to handle the quotation marks as a part of the output]

In [ ]:
#Solution:04(Method:01)
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
) 
for i in book_info:
   a,b,c=i

   print(f"{b} won the '{a}' category with {c} votes.")

The Silent Patient won the 'Best Mystery & Thriller' category with 68821 votes.
The Institute won the 'Best Horror' category with 75717 votes.
The five won the 'Best History & Biography' category with 31783 votes.
The Testaments won the 'Best Fiction' category with 98291 votes.

In [ ]:
#Solution:04(Method:02)(Notn recommended)
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
) 

a,b,c,d=book_info
print(f"{a[1]} won the '{a[0]}' category with {a[2]} votes")
print(f"{b[1]} won the '{b[0]}' category with {b[2]} votes")
print(f"{c[1]} won the '{c[0]}' category with {c[2]} votes")
print(f"{d[1]} won the '{d[0]}' category with {d[2]} votes")

The Silent Patient won the 'Best Mystery & Thriller' category with 68821 votes
The Institute won the 'Best Horror' category with 75717 votes
The five won the 'Best History & Biography' category with 31783 votes
The Testaments won the 'Best Fiction' category with 98291 votes

In [ ]:
#Method(3)
# Solution to Task 4

book_info = (("Best Mystery & Thriller", "The Silent Patient", 68821), ("Best Horror", "The Institute", 75717),
             ("Best History & Biography", "The five", 31783), ("Best Fiction", "The Testaments", 98291))

element1, element2, element3, element4 = book_info
award_category1, book_name1, vote1 = element1
award_category2, book_name2, vote2 = element2
award_category3, book_name3, vote3 = element3
award_category4, book_name4, vote4 = element4

print(f"{book_name1} won the '{award_category1}' category with {vote1} votes")
print(f"{book_name2} won the '{award_category2}' category with {vote2} votes")
print(f"{book_name3} won the '{award_category3}' category with {vote3} votes")
print(f"{book_name4} won the '{award_category4}' category with {vote4} votes")

The Silent Patient won the 'Best Mystery & Thriller' category with 68821 votes
The Institute won the 'Best Horror' category with 75717 votes
The five won the 'Best History & Biography' category with 31783 votes
The Testaments won the 'Best Fiction' category with 98291 votes

5. Write a python program that takes an input from the user and finds the number of times that the input is present in a given tuple.

In [ ]:
#Solution to task:05 (Method:01)
a_tuple= (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
number=int(input())
count=0
for i in  a_tuple:
  if i==number:
    count+=1
print(f"{number} appears {count} times in the tuple.")

1
1 appears 0 times in the tuple.

6. Write a Python program to reverse a given tuple.

In [ ]:
#Solution to task:06
a_tuple=(10, 20, 30, 40, 50, 6)

a_list=list(a_tuple)
final_list=[]
# print(a_list)

for i in range(len(a_list)-1,-1,-1):
  final_list.append(a_list[i])
final_list=tuple(final_list)
print(final_list)

(6, 50, 40, 30, 20, 10)

Extrass cuteeee

In [ ]:
#Counts how many similar digits entry! Frequency counter
a_tuple=(0,1,1,2,2,4,4,5,5,8,8,9,9,5,5,4,4,7,7,6,6,1,1,2,2,3,4,1,2,3,4,5,6,7,8,9)
print('Original Tuple:',a_tuple)
a_string=''

for string in a_tuple:                                                           
  a_string+=str(string)
# print(a_list)                                                                    #011224455889955447766112234123456789

backup_list=[0 for numbers in range(10)]
# print(backup_list)                                                              #[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

for count in range(len(a_string)):                                              # index=ord('0')-48=48-48=0          index=ord('1')-48=49-48=1        index=ord('1')-48=49-48=1 
  index=ord(a_string[count])-48                                                      
  backup_list[index]=backup_list[index]+1                                        #backup_list[0]=backup_list[0]+1    backup_list[1]=backup_list[1]+1=1  backup_list[1]=backup_list[1]+1=2
# print('Backup_list',backup_list)

for count in range(0,len(backup_list)):
  print(f"{chr(count+48)} has entered {backup_list[count]} times.")

Original Tuple: (0, 1, 1, 2, 2, 4, 4, 5, 5, 8, 8, 9, 9, 5, 5, 4, 4, 7, 7, 6, 6, 1, 1, 2, 2, 3, 4, 1, 2, 3, 4, 5, 6, 7, 8, 9)
0 has entered 1 times.
1 has entered 5 times.
2 has entered 5 times.
3 has entered 2 times.
4 has entered 6 times.
5 has entered 5 times.
6 has entered 3 times.
7 has entered 3 times.
8 has entered 3 times.
9 has entered 3 times.

In [ ]:
#Ungraded

15. Given a list of tuples, your task is to multiply the elements of the tuple and return a list of multiplied elements as shown below.

In [ ]:
#Solution:15
a_tuple=[(2, 3), (4, 5), (6, 7), (2, 8)]
a_list=[]
for i in a_tuple:
  a_list.append(i[0]*i[1])
print(a_list)

[6, 20, 42, 16]

In [ ]:
#15
a_tuple=[(2, 3), (4, 2), (6, 7), (2, 8)]
Output = [(x * y) for x, y in a_tuple]
print(Output)

[6, 8, 42, 16]

16. Assume, you have been given a tuple as below.
a_tuple = ( [1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12])
Write a Python program that asks the user for an input (can be any data type) and replaces the last element of each of the inner lists with the user given value.

In [ ]:
#Solution:16
a_tuple =([1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12])
a_list=[]
b=input()
for i in range(len(a_tuple)):
  a_list.append(a_tuple[i][:-1:]+[b])          
print(tuple(a_list))

1000
([1, 2, '1000'], [4, 5, '1000'], [7, 8, '1000'], [10, 11, '1000'])

In [ ]:
#Dictionary

7. Suppose you are given two dictionaries.
Now create a new dictionary "marks", merging the two dictionaries, so that the original two dictionaries remain unchanged.
Note: You can use dictionary functions

In [ ]:
#Solution:07 (Method:01)
dict_1={'Harry':15, 'Draco':8, 'Nevil':19}
dict_2={'Ginie':18, 'Luna': 14}
dict_3={}
dict_3.update(dict_1)
dict_3.update(dict_2)
print(dict_3)

In [ ]:
# Solution to task 7 (Method:02)

given_1 = {'Harry': 15, 'Draco': 8, 'Nevil': 19}
given_2 = {'Ginie': 18, 'Luna': 14}

print({**given_1,**given_2})

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

In [ ]:
#Hacks(merge only keys)
given_1 = {'Harry': 15, 'Draco': 8, 'Nevil': 19}
given_2 = {'Ginie': 18, 'Luna': 14}

print({*given_1, *given_2})

{'Draco', 'Harry', 'Ginie', 'Luna', 'Nevil'}

8. Suppose you are given two dictionaries.
Now create a new dictionary "marks", merging the two dictionaries, so that the original two dictionaries remain unchanged.
Note: You can use dictionary functions

In [ ]:
# Solution:08 (Me)
dictionary=input('Sir,please enter a dictionary: ')

string=''
for i in dictionary:
  if i!="'" and i!=" ":  #be careful about the condition
    string+=i
print(string)    

seperate=string.split(",")
my_dict={}
print(seperate)
for i in seperate:
  colon=i.split(":")
  my_dict[colon[0]]=int(colon[1])

print(my_dict)

counter=0
sum=0
for values in my_dict:
  sum+=my_dict[values]
  counter+=1

print('Average is',int(sum/counter))

Sir,please enter a dictionary: Jon:100, Dan:200, Rob:300
Jon:100,Dan:200,Rob:300
['Jon:100', 'Dan:200', 'Rob:300']
{'Jon': 100, 'Dan': 200, 'Rob': 300}
Average is 200

In [ ]:
# Solution to task 8 (Dicitonary input)

input_str = input("Enter the input:")
temp_str = input_str.replace("'", "")
temp_str = temp_str[1:len(temp_str)-1:]
final_str = temp_str.split(",")
sample = {}

for count in final_str:
    keyval = count.split(":")
    sample[keyval[0]] = int(keyval[1])

total_val = 0
temp = 0

for keys, values in sample.items():
    total_val = total_val+values
    temp = temp+1
    

print("Average is", total_val/temp)

Enter the input:{'Jon': 100, 'Dan':200, 'Rob':300}
Average is 200.0

9. Suppose there is a dictionary named exam_marks as given below.
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
Write a Python program that takes an input from the user and creates a new dictionary with only those elements from 'exam_marks' whose keys have values higher than the user input (inclusive).

In [ ]:
#Solution:09

exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
number=int(input('Sir,please enter the desired marks: '))
my_dict={}
for keys,values in exam_marks.items():
  if values>=number:
    my_dict[keys]=values
print(my_dict)

Sir,please enter the desired marks: 170
{'Cierra Vega': 175, 'Alden Cantrell': 200, 'Pierre Cox': 190}

10. Write a Python program that finds the largest value with its key from a given dictionary.
[You are not allowed to use the max() function for this task]
Note: You do not need to take the dictionaries as an input from the user but your code should work for any given dictionary. Also, you need to handle the quotation marks as a part of the output.
Hint: Think of membership operators (in and not in). You can use dictionary functions to get the values.

In [ ]:
# Solution to task 10

given = {'sci fi': 5, 'mystery': 3, 'horror': 14, 'young_adult': 2, 'adventure': 9}
temp = ""

maximum = 0  # Quantity can't be negative
max_key = None

for keys, values in given.items():
    if maximum < values:
        maximum = values
        max_key = keys

print("The highest selling book genre is", max_key, "and the number of books sold are", given[max_key])

In [ ]:
#Solution:10 (Method:01)
given={'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure':14}

list=[]

for values in given:
  list.append(given[values])
print(list)

maximum=list[0]

for i in list:
  if i>maximum:
    maximum=i
print(maximum)    


for keys,values in given.items():
  if values==maximum:
    print(f"The highest selling book genre is '{keys}' and the number of books sold are {maximum}.")

[12, 15, 8, 10, 4, 14]
15
The highest selling book genre is 'mystery' and the number of books sold are 15.

11. Write a Python program that takes a String as an input from the user and counts the frequency of each character using a dictionary. For solving this problem, you may use each character as a key and its frequency as values. [You are not allowed to use the count() function]
Hint: You can create a new dictionary to store the frequencies. You may ignore case for simplicity (i.e. may consider P and p to be the same).

In [ ]:
string=input("Sir,please enter a string: ")
# print(string)  
new=''
for i in string:
  if i!=" " and i!='"':
    new+=i.upper()
print(new)        

output_dict = {}


for count in new:
    if count in output_dict:
        output_dict[count] = output_dict[count] + 1
    else:
        output_dict[count] = 1

print(output_dict)

Sir,please enter a string: "Python programming is fun"
PYTHONPROGRAMMINGISFUN
{'P': 2, 'Y': 1, 'T': 1, 'H': 1, 'O': 2, 'N': 3, 'R': 2, 'G': 2, 'A': 1, 'M': 2, 'I': 2, 'S': 1, 'F': 1, 'U': 1}

In [ ]:
#Solution:11 (Method:01)

word="Python programming is fun"
list_1=[]
for i in word:
  list_1.append(i.lower())
print(list_1)

new_dict={}

for count in range(len(list_1)):
  if list_1[count] in ' ':
    
    pass

  elif list_1[count] not in new_dict:
    new_dict[list_1[count]]=1

  else:
    new_dict[list_1[count]]+=1

print(new_dict)

['p', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'i', 's', ' ', 'f', 'u', 'n']
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

12. Suppose you are given the following dictionary where the values are lists.
dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
Write a Python program that counts the total number of items in a dictionary’s values and prints it.
[Without using sum(), len(), count() functions]

In [ ]:
# Solution to task 12

given_dict = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
count = 0

for keys, values in given_dict.items():
    for temp in values:
        count = count + 1

print("The total number of items in a dictionary’s values: ", count)

The total number of items in a dictionary’s values:  9

In [ ]:
#Solution to Task:12 (Method:02)
dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
my_list=[]
for values in dict_1:
  my_list.extend(dict_1[values])
# print(my_list)
total=0
for count in my_list:
  total+=1
print(total)

[1, 2, 3, '1', '2', 4, 5, 6, 7]
9

13. Suppose you have been given the following list of tuples.


list_1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]


Write a Python program that converts this list of tuples into a dictionary and then prints the dictionary. The items in each tuple are a key and its value respectively. You need to group the values with the same keys into a list as shown below.

[You are not allowed to use set]

Hint: Think of membership operators (in and not in).

In [ ]:
# Solution to task 13

given_list = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
output_dict = {}

for i in given_list:
    output_dict[i[0]] = []
print(output_dict)
for j in given_list:
    for keys, values in output_dict.items():
        if keys == j[0]:
            output_dict[keys].append(j[1])

print("Output is: ", output_dict)

{'a': [], 'b': [], 'c': []}
Output is:  {'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

19. Given a list of tuples, your task is to group the tuples based on the second element in the tuples as shown in the examples below. We can achieve this using dictionary by checking the second element in each tuple.
[You do not need to take tuple as input and can assume that it is given as below]

In [ ]:

#sOlution: 19

a_list=[(20, 'Sad'), (31, 'Sad'), (88, 'NotSad'), (27, 'NotSad')]

b_list_keys=[]
a_dict={}
for count in range(0,len(a_list)):
  if a_list[count][1] not in b_list_keys:
    b_list_keys.append(a_list[count][1])

print('keys list is',b_list_keys)  

for count in range(0,len(b_list_keys)):
  c_list_values=[]
  for i in range(0,len(a_list)):
    if b_list_keys[count] == a_list[i][1]:
      c_list_values.append(a_list[i])
 
  a_dict[b_list_keys[count]]=c_list_values


print(a_dict)

keys list is ['Sad', 'NotSad']
{'Sad': [(20, 'Sad'), (31, 'Sad')], 'NotSad': [(88, 'NotSad'), (27, 'NotSad')]}

In [ ]:
#Method: 01
# Input  :'%%space$$spacedotdot'
# Output : a_dict={'dotdot':['%%','$$']}
# a_dict={'dotdot':'$$%%'}
word='%%space$$spacedotdot'
new_list=word.split('space')
print(new_list)

new_dict={}

for count in range(0,2):
  if new_list[2] not in new_dict:
    new_dict[new_list[2]]=[new_list[0]]
  else:
    new_dict[new_list[2]].append(new_list[1])  

print('The dictionary is:',new_dict)

['%%', '$$', 'dotdot']
The dictionary is: {'dotdot': ['%%', '$$']}

17. Suppose there is a dictionary named my_dictionary.
my_dictionary = {'c1':'Red', 'c2':'Green', 'c3':None, 'd4':'Blue', 'a5':None}.
Now write a Python program to remove empty items from the dictionary. [Empty items means keys without any values (None)].

In [ ]:
# Solution:17
my_dictionary = {'c1':'Red', 'c2':'Green', 'c3':None, 'd4':'Blue', 'a5':None}

final_dictionary={}

for keys,values in my_dictionary.items():
  if values==None:
    pass
  else:
    final_dictionary[keys]=values  
print(final_dictionary)

{'c1': 'Red', 'c2': 'Green', 'd4': 'Blue'}

18. Suppose you are given a dictionary as shown below. Write a Python program that takes two inputs from the user representing the lower (inclusive) and upper (exclusive) of a range of values. Your task is to extract all the items from the dictionary whose values lie in the range given as input by the user.

dict_1 = {'a' : 6, 'b' : 7, 'c' : 9, 'd' : 8, 'e' : 11, 'f' : 12, 'g' : 13}

In [ ]:
#Solution:18
dict_1 = {'a' : 6, 'b' : 7, 'c' : 9, 'd' : 8, 'e' : 11, 'f' : 12, 'g' : 13}
numbers=input().split(',')
list=[]
for i in numbers:
  list.append(int(i))

my_dict={}
print(list)
for keys,values in dict_1.items():
  if values>=list[0] and values<list[1]:
    my_dict[keys]=values
print(my_dict)

9,12
[9, 12]
{'c': 9, 'e': 11}

In [ ]:
#Task:20 (Method:01)
word='The secret of getting ahead is getting started.'
special=['-', '=', '+', '*', '%']
length=len(special)

#Remove the fullstops
lst=''
for i in word:
  if i!=".":
    lst+=i
print(lst) 

# and split them word by word into a list
split=lst.split(" ")
lsd=[]
for i in split:
  if i not in lsd:
    lsd.append(i)

print(lsd)

my={}
for i in lsd:
  sum=0
  index=0

  for j in i:
    sum+=ord(j)
  index=sum%length
  if special[index] not in my.keys():
    my[special[index]]=[i]
  else:
    my[special[index]].append(i)
    
print(my)

The secret of getting ahead is getting started
['The', 'secret', 'of', 'getting', 'ahead', 'is', 'started']
{'%': ['The', 'getting', 'ahead', 'started'], '=': ['secret'], '*': ['of'], '-': ['is']}

In [ ]:
#method:02
val = 'I love Programming. Python is love.'
sp = ['@', '$', '&', '#']
new_list = []
val2 = ''
sum = 0
my = {}
for i in val:
  if i != '.':
    val2+=i
print(val2)
my_list = val2.split(' ')
for a in my_list:
  if a not in new_list:
    new_list.append(a)   #Taking just the unique values (only one love)
for a in new_list:
  for b in a:
    sum+=ord(b)
  index = sum%4
  if sp[index] not in my.keys():
     my[sp[index]] = [a]
  else:
      my[sp[index]].append(a)
  sum = 0
print(my)

I love Programming Python is love
{'$': ['I'], '&': ['love', 'Python'], '#': ['Programming'], '@': ['is']}

In [ ]:
 #Extras

In [ ]:
d={
'Agent Name':['Sova','Jett','Chamber','Brimstone','Reyna'],
'Agent Type':['Initiator','Duelist','Sentinel','Controller','Duelist'],
'Sequence':[1,3,5,2,4]
}

new_dict={}

# [('Sova','initiator'),('Jett','Duelist')]
corelation=[]

for pos in range(0,len(d['Agent Name'])):
  corelation.append((d['Agent Name'][pos],d['Agent Type'][pos]))

print('The corelation list is:',corelation)  

for serial in range(1,max(d['Sequence'])+1):
  pos=d['Sequence'].index(serial)
  new_dict[serial]=corelation[pos]

print(new_dict)

The corelation list is: [('Sova', 'Initiator'), ('Jett', 'Duelist'), ('Chamber', 'Sentinel'), ('Brimstone', 'Controller'), ('Reyna', 'Duelist')]
{1: ('Sova', 'Initiator'), 2: ('Brimstone', 'Controller'), 3: ('Jett', 'Duelist'), 4: ('Reyna', 'Duelist'), 5: ('Chamber', 'Sentinel')}

In [ ]:
a_list=[1,3,5,2,4]
print(a_list.index(2))

3

In [ ]:
d={
'Agent Name':['Sova','Jett','Chamber','Brimstone','Reyna'],
'Agent Type':['Initiator','Duelist','Sentinel','Controller','Duelist'],
'Sequence':[1,3,5,2,4]
}

new_dict={}

# [('Sova','initiator'),('Jett','Duelist')]
corelation=[]

for pos in range(0,len(d['Agent Name'])):
  corelation.append((d['Agent Name'][pos],d['Agent Type'][pos]))

print('The corelation list is:',corelation)  

for serial in range(1,len(d['Sequence'])+1):
  pos=d['Sequence'].index(serial)
  new_dict[serial]=corelation[pos]

print(new_dict)

The corelation list is: [('Sova', 'Initiator'), ('Jett', 'Duelist'), ('Chamber', 'Sentinel'), ('Brimstone', 'Controller'), ('Reyna', 'Duelist')]
{1: ('Sova', 'Initiator'), 2: ('Brimstone', 'Controller'), 3: ('Jett', 'Duelist'), 4: ('Reyna', 'Duelist'), 5: ('Chamber', 'Sentinel')}

In [ ]:
# Solution to Task:20

***Tracing**

In [ ]:
dict1 = {'a':59 , 'b':-82 , 'c':5 , 'd':-81 , 'e':53}
for i in dict1:
    # print('I',i)
    j = 0
    k = 22
    while j < 5:
        if j % 2 == 0:
            k = dict1[i] + j - (8 + k % 6) / 3
            dict1[i] = dict1[i]+ int(k)

        else:
            k = dict1[i] + j - (6 - k % 8) * 3
            dict1[i] = dict1[i] - int(k)
        # print('dict',dict1[i])    
        # print('K',k)
        # print('j',j)
        j += 1
        
    print(int(k))
    print(i + " -> " + str(dict1[i]))

8
a -> 17
10
b -> 19
2
c -> 5
-7
d -> -14
2
e -> 5

In [ ]:
print(7.34%8)

7.34

In [ ]:
print(18-(6-(7.33%8))*3)

21.990000000000002

In [ ]:
print(10-(8+(-174.0%6))/3)

7.333333333333334

In [ ]:
print(-5.0//2)

-3.0

In [ ]:

print(-6.0%8)

2.0

In [ ]:
print(-10+3-(6-(-6.0%8))*3)

-19.0

In [ ]:
print(-10+3-(6+6.0%8)*3)

-43.0

In [ ]:
print(-6.0-8*(-6.0//8))

2.0

In [ ]:
print(-6.0//8)

-1.0

In [ ]:
print(-19.0//6)

-4.0

In [ ]:
print(9+4-(8+(-19.0%6))/3)

8.666666666666668

In [ ]:
print((8+(-19.0%6))/3)

4.333333333333333

In [ ]:
print(6+1-(6-1.0%8)*3)

-8.0

In [ ]:
print((6-1.0%8))

5.0

In [ ]:
#Task:20
val = 'I love Programming. Python is love.'
sp = ['@', '$', '&', '#']
new_list = []
val2 = ''
sum = 0
my = {}
for i in val:
  if i != '.':
    val2+=i
print(val2)
my_list = val2.split(' ')
for a in my_list:
  if a not in new_list:
    new_list.append(a)   #Taking just the unique values (only one love)
for a in new_list:
  for b in a:
    sum+=ord(b)
  index = sum%4
  if sp[index] not in my.keys():
     my[sp[index]] = [a]
  else:
      my[sp[index]].append(a)
  sum = 0
print(my)

I love Programming Python is love
{'$': ['I'], '&': ['love', 'Python'], '#': ['Programming'], '@': ['is']}