In [ ]:
def a_name(x,y): #vitore parameter
   c=x+y #body c=local variable
   return c
c=a_name(3,4) #function call dibo vitore argument c=global variable
print(c)
print(a_name(5,5))

7
10

1. Write a function called even_checker that takes a number as an argument and prints whether the number is even or odd inside the function.

In [1]:
def even_checker(i):
  if i%2==0:
    print('even')
  else:
    print('odd')


even_checker(int(input('Maam please enter a number: ')))

Maam please enter a number: 5
odd

2. Write a python function that takes the limit as an argument of the Fibonacci series and prints till that limit.

In [ ]:
#Solution:2 (Method:01)

def fibonacci(number):
   
   previous_number=0
   next_number=1
   print(0,end=" ")
   print(1,end=" ")
   for i in range(number):
     fibonacci=previous_number+next_number
     if fibonacci>number:
       break
     else: 
       print(fibonacci,end=" ")   
       previous_number=next_number
       next_number=fibonacci

num=int(input('Sir,please enter the limit: '))

fibonacci(num)

Sir,please enter the limit: 13
0 1 1 2 3 5 8 13

2. Write a python function that takes the limit as an argument of the Fibonacci series and prints till that limit.

In [ ]:
user=int(input("enter the number "))
def fibonacci(num):
  a=0
  b=1
  c=0
  print(a,end=' ')
  print(b,end=' ')
  while c<=num:   
    c=a+b
    a=b
    b=c
    if c>=num:
      break
    else:
      print(c,end=' ')  
fibonacci(user)

enter the number 10
0 1 1 2 3 5 8

In [ ]:
#Solution: 02
def fibonacci(num):  #Function ke define korlam. Num holo parameter
  
  lst=[0,1]
  sum=0
  while True:
    sum=0
    sum+=lst[-1]
    sum+=lst[-2]
    if sum<=num:
      lst.append(sum)   
    else:
      print(*lst)    #print korte hobe cause output hishabe ami eita dekte chai
      break  

num=int(input('Sir,please enter the limit: ')) #input nilam bahire
fibonacci(num)   #finction ke daak dilam

3. Write a function called foo_moo that takes a number as an argument and returns the following statements according to the below mentioned conditions. Then, finally prints the statement in the function call. 

If the number is divisible by 2, it should return "Foo".

If the number is divisible by 3, it should return "Moo". 

If the number is divisible by both 2 and 3, it should return "FooMoo".

Otherwise, it returns "Boo".

In [ ]:
#Solution: 03
def foo_moo(num):
  
  if num%2==0 and num%3==0:
    return 'FooMoo'
  elif num%2==0:
    return 'Foo'
  elif num%3==0:
    return 'Moo'
  else:
    return 'Boo'

num=int(input('Sir,please enter an argument: '))

print(foo_moo(num))

4. Write a python function that takes a string as an argument. Your task is to calculate the number of uppercase letters and lowercase letters and print them in the function.

In [ ]:
#'The quick Sand Man'
#Solution:04(Method:01)
def function_name(sentence):
  
  count_upper=0
  count_lower=0

  for i in sentence:
    if i.islower():
      count_lower+=1
    elif i.isupper():
      count_upper+=1

  print(f'No. of Uppercase characters : {count_upper}')
  print(f'No. of Lowercase Characters : {count_lower}')


function_name(input())

'The quick Sand Man'
No. of Uppercase characters : 3
No. of Lowercase Characters : 12

In [ ]:
#Solution:04(Method:02)
def function_name(sentence):
  
  count_upper=0
  count_lower=0

  for i in sentence:
    if ord('a')<=ord(i)<=ord('z'):
      count_lower+=1
    elif ord('A')<=ord(i)<=ord('Z') :
      count_upper+=1
      
  print(f'No. of Uppercase characters : {count_upper}')
  print(f'No. of Lowercase Characters : {count_lower}')


function_name(input())

'The quick Sand Man'
No. of Uppercase characters : 3
No. of Lowercase Characters : 12

In [ ]:
#Solution:04 (Method:03)
def function_name(sentence):
  small='abcdefghijklmnopqrstuvwxyz'
  capital='ABCDEFGHIJKLMNOPQRSTUVWXYZ'
  
  count_upper=0
  count_lower=0

  for i in sentence:
    if i in small:
      count_lower+=1
    elif i in capital:
      count_upper+=1
      
  print(f'No. of Uppercase characters : {count_upper}')
  print(f'No. of Lowercase Characters : {count_lower}')


function_name(input())

The quick Sand Man
No. of Uppercase characters : 3
No. of Lowercase Characters : 12

5. Write a function called calculate_tax that takes 3 arguments: your age, salary, and current job designation.
Your first task is to take these arguments as user input and pass these values to the function.
Your second task is to implement the function and calculate the tax as the following conditions:

NO TAX IF YOU ARE LESS THAN 18 YEARS OLD.

NO TAX IF YOU ARE THE PRESIDENT OF THE COMPANY 

No tax if you get paid less than 10,000

5% tax if you get paid between 10K and 20K

10% tax if you get paid more than 20K

In [ ]:
#Solution:05 (method:01)
def calculate_tax(age,salary,designation):
   if designation=='president' or age<18 or salary<10000:
     return 0
   elif 10000<=salary<=20000:
     return(5/100)*salary
     
   elif salary>20000:
     return(10/100)*salary          
     
age=int(input('Sir,please enter the real age of yours: '))
salary=int(input('Sir,please enter your real salary: '))
designation=input('Sir,please enter the real designation: ').lower() 
print(calculate_tax(age,salary,designation))

Sir,please enter the real age of yours: 17
Sir,please enter your real salary: 2000
Sir,please enter the real designation: student
None

In [ ]:
#Solution:05 (method:02)
def calculate_tax(age,salary,designation):
  

  if age<18 or presidency==1 or salary<10000:
    return 0
  elif 10000<=salary<=20000:
    return(salary*5)/100  
    
  elif salary>20000:
    return(salary*10)/100
    
age=int(input('Sir,please enter your real age: '))
salary=float(input('Sir,please enter your salary: '))
designation=input().lower()

if designation=='president':
  presidency=1
else:
  presidency=0
print(calculate_tax(age,salary,designation))

Sir,please enter your real age: 25
Sir,please enter your salary: 900000000
businesswoman
90000000.0

6. Write a function which will take 1 argument, number of days.
Your first task is to take the number of days as user input and pass the value to the function.
Your second task is to implement the function and calculate the total number of years, number of months, and the remaining number of days as output. No need to return any value, print inside the function. 
Note: Assume, each year to be 365 days and month to be 30 days.

In [ ]:
# Solution:06(Method:01)
def function_name(days):
  years=days//365
  remain=days%365
  months=remain//30
  days=remain%30
  print(f'{years} years, {months} months and {days} days')



days=int(input('Sir,please enter the number of days: ')) 
function_name(days)

Sir,please enter the number of days: 2250
6 years, 2 months and 0 days

In [ ]:
#Method:02

def number_of_days(n): return(n//365),((n%365)//30),((n%365)%30)
print(*number_of_days(int(input())))

4330
11 10 15

In [ ]:
#Method:03
def func(n):
    year = n//365
    mon = n%365
    month = mon//30
    days = mon%30
    print(year , 'years,',month, 'months and',days,'days' )
    
n = int(input())
func(n)

In [ ]:
# Solution to the task 6

def function_name(days):
    print(days // 365, "years", end=", ")
    print((days % 365) // 30, "months", end=" and ")
    print((days % 365) % 30, "days")


if __name__ == '__main__':
    user = int(input("Sir please enter the amount of days: "))
    function_name(user)

Sir please enter the amount of days: 4330
11 years, 10 months and 15 days

In [ ]:
#Solution:07

In [ ]:
#Solution:07(method:01)

def show_palindrome(num):
  string=''
  for i in range(1,num+1):
    
    string+=str(i)
    # return string (return korbo sbar shesh e)
  for j in range(num-1,0,-1):
    string+=str(j)

  return string

print(show_palindrome(5))

12345

7. Write a function called show_palindrome that takes a number as an argument and then returns a palindrome string. Finally, prints the returned value in the function call.

In [ ]:

def show_palindrome(number, i=1):
    if number == i:
        print(number, end="")
        return
    else:
        print(i, end="")
        show_palindrome(number, i+1)
        print(i, end="")


if __name__ == '__main__':
    user = int(input("Sir, please enter your desired number: "))
    show_palindrome(user)

Sir, please enter your desired number: 5
123454321

8. Write a function called show_palindromic_triangle that takes a number as an argument and prints a Palindromic Triangle in the function.

In [ ]:
#Solution:08(Method:01)

def show_palindromic_triangle(row):

   for row_count in range(1,row+1):
     for space_count in range(1,(row-row_count)+1):
       print(' ',end=" ")
     
     for column_count in range(1,row_count+1):
       print(column_count,end=" ")
   
     for column_count in range(row_count-1,0,-1):
       print(column_count,end=" ")

     print()

show_palindromic_triangle(5)

        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

9. Write a function called area_circumference_generator that takes a radius of a circle as a function parameter and calculates its circumference and area. Then returns these two results as a tuple and prints the results using tuple unpacking in the function call according to the given format.

In [ ]:
#09 (method:01)

def area_circumference_generator(radius,pi=(3.141592653589793)):
  return (pi*radius**2),(2*pi*radius)
  
radius=float(input('Sir,please eneter the desired radius: '))
print(area_circumference_generator(radius))  

area,circumference=area_circumference_generator(radius)
print(f"Area of the circle is {area} and circumference is {circumference}")

Sir,please eneter the desired radius: 5
(78.53981633974483, 31.41592653589793)
Area of the circle is 78.53981633974483 and circumference is 31.41592653589793

In [ ]:
#09(method:02)
# to do
import math
usr_input=float(input('Enter the radius: '))
list1=[]

def areaCircumferenceGenerator(radius):
    area=math.pi*(usr_input**2)
    list1.append(area)
    circumference=2*math.pi*usr_input
    list1.append(circumference)
    a_tuple=tuple(list1)
    a,b=a_tuple
    print('Area of the circle is', a,' and circumference is ',b)
    return area,circumference
print(areaCircumferenceGenerator(usr_input))

Enter the radius: 1
Area of the circle is 3.141592653589793  and circumference is  6.283185307179586
(3.141592653589793, 6.283185307179586)

10. Write a function called make_square that takes a tuple in the parameter as a range of numbers (starting point and ending point (included)). The function should return a dictionary with the numbers as keys and its squares as values.

In [ ]:
a_tuple=(1,3)
d={}
for i in range(1,3+1):
  d[i]=i**2
print(d)

{1: 1, 2: 4, 3: 9}

In [ ]:
def make_square(*args):
  d={}
  for i in range(1,3+1):
     d[i]=i**2
     return d

args=input()
make_square(args)

(1,3)

{1: 1}

In [ ]:
# Solution:10 (method:01)
list1=[]
num1=int(input('Enter starting number: '))
list1.append(num1)
num2=int(input('Enter ending number: '))
list1.append(num2)
a_dict={}

a_tuple=tuple(list1)
a,b=a_tuple
def makeSquare(starting,ending):
    for i in range(num1,num2+1):
        a=i*i
        a_dict[i]=a
    return a_dict
    
print(makeSquare(num1,num2))

Enter starting number: 1
Enter ending number: 3
{1: 1, 2: 4, 3: 9}

In [ ]:
def make_square(start, limit):
    global dic
    if start == limit:                #start=3=limit
        dic[limit] = limit ** 2       #dic[3]=3**2
        print(dic)                     #  
        return                         #
    else:
        dic[start] = start ** 2   #dic[3]=2**2=4
        make_square(start+1, limit)



dic = {}
make_square(1, 3)

{1: 1, 2: 4, 3: 9}

Write a function called make_square that takes a tuple in the parameter as a range of numbers (starting point and ending point (included)). The function should return a dictionary with the numbers as keys and its squares as values.

In [ ]:
# Solution to Task 11 (method:01)
x=(1,1,1,2,3,4,5,6,6,6,6,4,0,0,0)

def remDuplicate(x):

    unique_list=[]
    for item in x:

        if item not in unique_list:
            unique_list.append(item)
        else:
            continue

    a=unique_list
    a_tuple=tuple(a)
    
    return a_tuple
print(remDuplicate(x))

(1, 2, 3, 4, 5, 6, 0)

In [ ]:
# Solution to Task 11 (method:02)

def rem_duplicate(given_tuple):
    result = []
    for i in given_tuple:
        if i not in result:
            result.append(i)

    return(tuple(result))        
    print(result)



rem_duplicate(("Hi", 1, 2, 3, 3, "Hi",'a', 'a', [1,2]))

('Hi', 1, 2, 3, 'a', [1, 2])

Write a function called make_square that takes a tuple in the parameter as a range of numbers (starting point and ending point (included)). The function should return a dictionary with the numbers as keys and its squares as values.

In [ ]:
#12

new=[]
removed=[]
def function_name(a_list):
  
  for i in a_list:
    if a_list.count(i)<=2:
      new.append(i)
    else:
      removed.append(i)
  print('Removed:',len(removed))
   
  return new 
  
print(function_name([1, 2, 3, 3, 3, 3, 4, 5, 8, 8]))

Removed: 4
[1, 2, 4, 5, 8, 8]

In [ ]:

# todo
x=[1, 2, 3, 3, 3, 3, 4, 5, 8, 8]
list1=[]
list2=[]

def function_name(given):
    
    for item in x:
        if list1.count(item)<2:
            list1.append(item)
        else:
            list2.append(item)
    print('Removed: ',len(list2))
    return list1



print(function_name(list1))

Removed:  2
[1, 2, 3, 3, 4, 5, 8, 8]

Write a python function that will perform the basic calculation (addition, subtraction, multiplication and division) based on 3 arguments. They are:
Operator ('+', '-', '/', '*')
First Operand (any number)
Second Operand (any number)

In [ ]:
#Solution 13 (Method:01)

def function_name(x,y,z):
  
  if x=='+':
    return y+z
  elif x=='-':
    return y-z 
  elif x=='*':
    return y*z 
  elif x=='/':
    return y/z

print(function_name(input('sir,enter the opearator '),float(input('sir,enter first operand ')),float(input('sir,enter second operand '))))

sir,enter the opearator *
sir,enter first operand 6
sir,enter second operand 3
18.0

In [ ]:
#Solution 13 (Method:02)
def numfuction(opt,num1,num2):
    if opt =='+':
        x=num1+num2
        return x
    elif opt=='-':
        x=num1-num2
        return x
    elif opt=='*':
        x=num1*num2
        return x
    elif opt=='/':
        x=num1/num2
        return x

opt=input("Sir, which function do you want to use? (+, -, *, /) :")
num1=float(input('Enter 1st number: '))
num2=float(input('Enter 2nd number: '))

print(numfuction(opt,num1,num2))

14. Write a function which will take 2 arguments. They are:

Sentence 

Position 

Your first task is to take these arguments as user input and pass these values to the function parameters.
Your second task is to implement the function and remove the characters at the index number which is divisible by the position (Avoid the index number 0 as it will always be divisible by the position, so no need to remove the index 0 character). Finally, add the removed characters at the end of the new string.
Return the value and then finally, print the new string at the function call.

In [ ]:
#Task:14 (Method: 01)

def function_name(sentence,position):

   left=''
   new=''
   for i in range(0,len(sentence)):
     if i==0:
       new+=sentence[i]
     elif i%position==0:
       left+=sentence[i]
     else:
       new+=sentence[i]
     
  
   return new+left

print(function_name(input('sir,please enter the sentence '),int(input('sir,please enter the posiiton '))))

Python is easy to learn. I love python.
6
Pythonis eay to earn.I lov pythn. sl eo

In [ ]:
#Solution:14(method:02)
def cutttherope(sentence,position):
    newleft=''
    left=''
    for p in range(0,len(sentence)):
        if p!=0 and p%position==0:
            newleft+=sentence[p]
        else:
            left+=sentence[p]

    return left+newleft
sentence=str(input('Enter sentence: '))
position=int(input('Enter position: '))
print(cutttherope(sentence,position))

Enter sentence: I love programming.
Enter position: 3
I lveprgrmmngo oai.

In [ ]:
#Solution:15 (method:01)

item_number=int(input('Sir,please enter your item number: '))

new_list=[]

for count in range(0,item_number):
  item=input("Sir,please enter your item name: ")
  low=item.lower()
  new_list.append(item)

a_dict={'rice':105,'potato':20,'chicken':250,'beef':510,'oil':85}

def function_name(new_list,loc='Dhanmondi'):
   sum=0

   for count in range(0,len(new_list)):
     sum+=a_dict[new_list[count]]

   if loc=='Dhanmondi' or loc=='':
     sum+=30
   else:
     sum+=70

   return sum
print(function_name(new_list,loc=input()))

Sir,please enter your item number: 3
Sir,please enter your item name: beef
Sir,please enter your item name: rice
Sir,please enter your item name: rice
banani
790

In [ ]:
def food_panda(food, destination="Dhanmondi"):
    price = {"Rice": 105, "Potato": 20, "Chicken": 250, "Beef": 510, "Oil": 85}
    total = 0
    for item in food:
        total += price[item]
    if destination == "Dhanmondi":
        total += 30
    else:
        total += 70
    return total


food = ['Beef','Rice','Rice']
destination = input()

# Function Call
if len(destination) > 0:
    print(food_panda(food, destination))
else:
    print(food_panda(food))

banani
790

In [ ]:
#Task: 16

def spliting_money(amount):
  notes=[500,100,50,20,10,2,1]
  d1={}

  for note in notes:
    if not amount//note==0:
      d1[note]=amount//note
      amount=amount%note

  return d1

splitted=spliting_money(1234)
print('"',end="")
c=1
for i in splitted:
  if c!=len(splitted):
    print(f'{i} Taka: {splitted[i]} note(s)')

  else:
    print(f'{i} Taka: {splitted[i]} note(s)"')

  c+=1

"500 Taka: 2 note(s)
100 Taka: 2 note(s)
20 Taka: 1 note(s)
10 Taka: 1 note(s)
2 Taka: 2 note(s)"

17. Write a function called remove_odd that takes a list of numbers that have both even and odd numbers mixed. 
Your function should remove all the odd numbers and return a compact list which only contains the even numbers.

In [ ]:
#Task 17
def remove_odd(a_list):
   
   even=[]
   for i in a_list:
     if i%2==0:
        even.append(i)
   return even
print(remove_odd([21, 33, 44, 66, 11, 1, 88, 45, 10, 9]))

[44, 66, 88, 10]

In [ ]:
#17(method:02)

i=int(input('Enter element no: '))
mixed_list=[]
counter=0
while counter<i:
    num=int(input('Enter element: '))
    mixed_list.append(num)
    counter+=1

even_list=[]
def remove_odd(even_list):


   for i in mixed_list:
     if i%2==0:
         even_list.append(i)
   
   return even_list

print(remove_odd(even_list))

In [ ]:
#Task:18
def division(starting,ending,first_divisor,second_divisor):
    sum=0
    for i in range(starting,ending):
        if i%first_divisor==0 and i%second_divisor==0:
            continue
        elif i%first_divisor==0:
            sum=sum+i
        elif i % second_divisor == 0:
            sum = sum + i
    return sum
starting=int(input())
ending=int(input())
first_divisor=int(input())
second_divisor=int(input())

print(division(starting,ending,first_divisor,second_divisor))

10
40
4
7
210

In [ ]:
#19
def stringTest(name):
    counter=0
    for char in usr_input:
        if char in list:
            counter+=1

    if counter>0:
        return 5
    else:
        return 6

usr_input=str(input())

list=['a','b','c','d','e','f','g','h','i','j']
stringTest(usr_input)
print('Chelsea is the best club in England \n'*stringTest(usr_input))

"A black jackal is hunting a full grown deer"
Chelsea is the best club in England
Chelsea is the best club in England
Chelsea is the best club in England
Chelsea is the best club in England
Chelsea is the best club in England

In [ ]:
#20
player=input('Sir,please enter your name: ')
earnings=float(input('enter your earnings: '))
goal=int(input('enter the total goal scored: '))
percent=float(input('bonus '))

def individul_bonus_calculation(player,earnings,goal,percent):
  if 20>=goal>=30:
    bonus=goal*(percent/100*earnings)+5000
    return bonus
  elif goal>30:
    bonus=goal*(percent/100*earnings)+10000
    return bonus
  else:
    bonus=goal*(percent/100*earnings)

  print(f'Neymar earned a bonus of {bonus} for {goal} goals')  
  


(individul_bonus_calculation(player,earnings,goal,percent))

Sir,please enter your name: Neymar
enter your earnings: 120000
enter the total goal scored: 35
bonus 5

220000.0

In [ ]:
#21
def function_name(*x):
  a=1
  b=list(x)
  c=[]
  j=0

  for i in range(len(b)+1):
    if i==0:
      pass
    elif i%4==0:
      c.append(b[j:i])
      j=i
  bonus=0

  for i in c:
    if i[2]<10000:
      bonus=((i[3]/100)*i[1]*i[2])+10000
    elif 20<=i[2]<=30:
      bonus=((i[3]/100)*i[1]*i[2])+5000     

    print(f'{i[0]} earned a bonus of {bonus} taka for {i[2]} goals.')

function_name("Neymar", 1200000, 35, 5, 'Jamal', 700000, 19, 8, 'Luis', 80000, 25, 10)

Neymar earned a bonus of 2110000.0 taka for 35 goals.
Jamal earned a bonus of 1074000.0 taka for 19 goals.
Luis earned a bonus of 210000.0 taka for 25 goals.

In [ ]:
#                       ===================================================================================================================