1. Write a python program that takes a string input containing (Lower-case letters, upper-case letters, digits, and, special characters) from the user and creates four new strings containing only the lower-case letters, upper-case letters, digits and special characters, ignoring the spaces and then prints them. For each category of characters, print them in the order that they appear in the input. In each step of the procedure, print the upper-case letter at first, then the lower-case letter, then the number and the symbol at last.

In [ ]:
word=input()
cap="" 
small=""


dig="" 
special=""
for i in word:
   if ord("Z") >= ord(i) >= ord("A"):
       cap += i
   elif ord("z") >= ord(i) >= ord("a"):
       small += i
   elif ord("9") >= ord(i) >= ord("0"):
       dig += i
   elif ord(i) == ord("@") or ord(i) == ord("$") or ord(i)==("#"):
       special += i
print(f"Upper-Case: {cap}")
print(f"Lower-Case:{small}")
print(f"Digits:{dig}")
print(f"Special:{special}")

re=""
for i in range(len(dig)):
     re += cap[i]
     re += small[i]
     re += dig[i]
     re += special[i]
print("Final Word")
print(re)

In [ ]:
#ektu check kortesi string add korle ki hoi
a='6'
p=3
p=str(p)
print(a+p)

63

2. Write a python program that takes a string input containing (Lower-case letters, upper-case letters, digits or special characters) from the user and calculate the total ascii-code of the lower-case letters, upper-case letters, digits and special characters except spaces separately and then prints them. Spaces are ignored. Finally, you have to concatenate the strings of the total ascii-codes and print that string.

In [ ]:
word=input()
capital=0
small=0
special=0
number=0

for i in word:
   if ord("Z") >= ord(i) >= ord("A"):
       capital+=ord(i)

   elif ord("z") >= ord(i) >= ord("a"):
       small +=ord(i)

   elif ord("9") >= ord(i) >= ord("0"):
       number+=ord(i)
     
   elif ord(i) == ord("@") or ord(i) == ord("$") or ord(i)==("#"):
       special +=ord(i)

print(f"Upper-Case: {capital}")
print(f"Lower-Case:{small}")
print(f"Digits:{number}")
print(f"Special:{special}")  
print("Final string:\n",str(capital),str(small),str(number),str(special),sep="")

ab@2  a3$   3w
Upper-Case: 0
Lower-Case:411
Digits:152
Special:100
Final string:
0411152100

3.Write a python program that takes a string (it might contain upper-case and lower-case letters) from the user. Then prints only the characters whose ASCII values are divisible by 2 in upper-case.

In [ ]:
user=input()
result=""
for i in user:
  if ord(i)%2==0 and ord('a')<=ord(i)<=ord('z'):
    result+=(chr(ord(i)-32))
  elif ord(i)%2==0 and ord('A')<=ord(i)<=ord('Z'):  
    result+=i
  else:
    pass
print(result)

GoOD
D

4.Write a python program that takes a string (it might contain upper-case and lower-case letters) from the user. Then prints only the characters whose ASCII values are divisible by 2 in lower-case.

In [ ]:
user=input()
result=""
for i in user:
  if ord(i)%2==0 and ord('A')<=ord(i)<=ord('Z'):
    result+=(chr(ord(i)+32))
  elif ord(i)%2==0 and ord('a')<=ord(i)<=ord('z'):  
    result+=i
  else:
    pass
print(result)

Hello
hll

5. PRINT UB71202 and mention building name floor name and room no.

In [ ]:
user=input()
print(f"Building no: {user[2:3]} Floor no: {user[3:5]} Room no: {user[5:]}")

UB71212
Building no: 7 Floor no: 12 Room no: 2

6.Write a Python program that takes the value of n from the user and calculates the value of y using the following equation: y= 3^2+6^2-9^2+12^2+15^2-18^2+.......... (3n)^2
33
3-6
Sample Input 1:
4 Sample Output 1:
Value of y is: 108
Sample Input 2:
9 Sample Output 2:
Value of y is: 297

In [ ]:
user=int(input())

y=0
for i in range(3,3*user+1,3):
  if i%9==0:
    y-=i**2
  else:
    y+=i**2
print(y)

4
108

7. Write a python program that takes a string input containing (Lower-case letters, upper-case letters, digits and special characters) from the user and calculates the summation of the ascii-code of the lower-case letters, upper-case letters and digits except for the special characters and only if that character is in an odd index and then print total summation. The Ascii range for upper-case letters are 65-90, lower-case letters are 97-122, digits are 48-57. For convenience, consider the special characters are only @, #, $


Sample Input 1: CsQUI25@$ 01234567 9

In [ ]:
user=input()
large="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
small="abcdefghijklmnopqrstuvwxyz"
special="%$#"
digit="0123456789"
result=0
for i in range(len(user)):
  if i%2!=0 and user[i] in large:
    result+=ord(user[i])
  if i%2!=0 and user[i] in small:
    result+=ord(user[i])
  if i%2!=0 and user[i] in digit:
    result+=ord(user[i])
  else:
    pass
print(result)

CsQUI25@$ 01234567 9
515

8. Password Generator
 minimum 8 characters
 1 capital
 1 special
 1 small
 1 number

In [ ]:
#pASSWORD GENERATOR
user_input=input("Press 8 digit character")
small="abcdefghijklmnopqrstuvwxyz"
large="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
digit_scope="0123456789"
special_scope="$#%"
small_no=0
large_no=0
special_scope_no=0
digit_scope_no=0

for i in user_input:
   if i in small:
     small_no+=1
   if i in large:
     large_no+=1
   if i in special_scope:
     special_scope_no+=1
   if i in digit_scope:
     digit_scope_no+=1
if large_no>=1 and special_scope_no>=1 and small_no>=1 and digit_scope_no>=1:   
    print("valid") 
else:
     print("Invalid")

9. write a python program that takes a string of 10 characters from the user. Then checks whet her the sum of all the ascii values of the uppercase letters are greater than the sum of the ascii values of the lowercase letters. If the user enters a digit in the string, the digit will be added to the sum of uppercase letters. After comparing, the code should print the value of the greater sum. 10
Sample Input: Vq3T9cZeXM Sample Output: The sum of uppercase is: 437.

In [ ]:
user=input()
sum_upper=0
sum_lower=0
digit='0123456789'
for i in user:
  if ord('A')<=ord(i)<=ord('Z'):
    sum_upper+=ord(i)
  if i in digit:
    sum_upper+=int(i)

  elif ord('a')<=ord(i)<=ord('z'):
    sum_lower+=ord(i)
  else:
    pass
if len(user)!=10:
  print("Please enter  string of 10 Characters")    
elif sum_upper>sum_lower:
  print(sum_upper)
else:
  print(sum_lower)

Vq3T9cZeXM
437

10. input nao then uppercase pele minus 3 lowercase hole minus 5. erpor print koro

In [ ]:
word=input()
new=""
for i in word:
  if i=="e":
    
   new+="z"
  elif ord('a')<=ord(i)<=ord('z'):
    new+=chr(ord(i)-5)
  else:
    new+=chr(ord(i)-3)
print(new)

Question[1] lab mid

11. String e input nao. prottek ta character sathe +2 ascii. vowel find out. reverse printing.

In [ ]:

word=input()
new=""
for i in word:
   new+=chr(ord(i)+2)
vowel=""
print(f"New word:{new}")
for j in new:
  if j in "aeiou":
    vowel+=j
print(f"Vowels:{vowel[-1::-1]}")

abcdefg
New word:cdefghi
Vowels: ie

12. second input e ja dibe oita baad diye akta space add koro

In [ ]:
#mid: 02
input1=input()
input2=input()
new=""
for i in input1:
  if i not in input2:
    new+=i
  else:
    new+=" "  
print(new)
final=""
for i in new:
  final=i+final
print(final)

i-can-cook-
-
i can cook
 kooc nac i

13. Input string : THE snOW wAs frEEzinG cOLD

    output: THE cdOW hAj lmEEpqrG uOLD

In [ ]:
word=input()
index=0
lowercase=""
for i in range(len(word)):
  if ord('a')<=ord(word[i])<=ord('z'):
    index+=i
    lowercase+=word[i]
  else:
    lowercase+=word[i]
final="" 
print(index)   
if index>99:
  for i in range(len(lowercase)):
    if ord('a')<=ord(word[i])<=ord('z'):
      final+=chr(i+95)
    else:
      final+=word[i] 
else:
  final=lowercase      
print(final)

THE snOW wAs frEEzinG cOLD
132
THE cdOW hAj lmEEpqrG uOLD

In [ ]:
# 14.
row=int(input("Sir,please enter the number of wows"))
for row_count in range(1,row+1):
  for space_count in range(1,(row-row_count)+1):
     print(" ",end="")
  for number_count in range(1,(2*row_count-1)+1):
    print(number_count,end="")
  print()

Sir,please enter the number of wows4
   1
  123
 12345
1234567

In [ ]:
row=int(input())
for row_count in range(1,row+1):
  for column_count in range(1,row_count+1):
    print(column_count,end="")
  print()

4
1
12
123
1234

In [ ]:
#Usage of Join string

In [ ]:
my_name = {'Nashid': 1, 'A': 2, 'Sikder': 3}

# Joining special character with dictionary
string = '-'.join(my_name)

print(string)

Nashid-A-Sikder

In [ ]:
list1 = {'Batman','Superman','Ironman','Daredevil','Deadpool'}

# put any characher to join
s = "-#-"

# joins elements of list1 by '-#-'
# and stores in string s
s = s.join(list1)

# join use to join a list of
# strings to a separator s
print(s)

Deadpool-#-Batman-#-Superman-#-Ironman-#-Daredevil

In [ ]:
my_name = {'I': 1, 'Am': 2, 'Vengeance': 3}

# Joining special character with dictionary
string = '-'.join(my_name)

print(string)

I-Am-Vengeance

In [ ]:
#17.
#$$$$$$$$
#RR0000RR
#RR0000RR
#RR0000RR
#RR0000RR
#RR0000RR
#RR0000RR
#RR0000RR

In [ ]:
row=int(input("Sir,please enter your desired number "))

for row_count in range(1,row+1):
  for column_count in range(1,row+1):
    if row_count==1:
      print("$",end="")
    elif column_count==1 or column_count==2 or column_count==7 or column_count==8:

      print("R",end="")
    else:
      print("O",end="")  
  print()

Sir,please enter your desired number 8
$$$$$$$$
RROOOORR
RROOOORR
RROOOORR
RROOOORR
RROOOORR
RROOOORR
RROOOORR

18. Input: 1104Python programming is very easy

    Output:1104PyThOn PrOgRaMmInG iS vErY eAsY

In [ ]:
#Practise
#Input: 1104Python programming is very easy
#Output:1104PyThOn PrOgRaMmInG iS vErY eAsY

user='1104Python Programming is very easy'
new_list=[]
index=0
for count in range(len(user)):
  if 65<=ord(user[count])<=90 or 97<=ord(user[count])<=122:
    if count%2==0:
      large=user[count].upper()
      new_list.append(large)
      index+=1
    else:
      small=user[count].lower()
      new_list.append(small)
      index+=1
  else:
     new_list.append(user[count])
# print(*new_list)     

add=""
for count in range(0,len(new_list)):
  add+=new_list[count]
print(add)

1104PyThOn pRoGrAmMiNg iS VeRy eAsY

19.  Take a list and divide into 2 lists in such a way that left list

 sum==   right lists sum. if not

  possible then print not possible

In [ ]:
a_list=[-2,-12,14,0,0,0]
total_right=0
total_left=0
done=False
for value in a_list:
  total_right+=value
for index in range(0,len(a_list)):
  if total_right==total_left:
    done=True
    print(a_list[:index],a_list[index:])
    break
  else:
    total_left=total_left+a_list[index]
    total_right=total_right-a_list[index]

[] [-2, -12, 14, 0, 0, 0]

20. Replace [10,20,3,4,5,6,7,8] with [20,400000,3,4,5,6,7,8]

In [ ]:
list=[10,20,3,4,5,6,7,8]
for i in range(len(list)):
  if list[i]==20:
    list[i]=400000
print(list)

[10, 400000, 3, 4, 5, 6, 7, 8]

21. duita word dewa ase of inequal length. apnake akbar first word er letter nite hobe then second word er letter nite hobe. then finally word banate hobe then apnake list e new word tar proti letter rakte hobe.

In [ ]:
word1='ABCDEFGH'
word2='ijkl'
if len(word1)>len(word2):
  add=''
  for counter in range(0,len(word2)):
    add+=word1[counter]+word2[counter]
  new_word=''
  new_word=add+word1[counter+1:]
else:
  add=''
  for counter in range(0,len(word1)):
    add+=word1[counter]+word2[counter]
  new_word=''
  new_word=add+word2[counter+1:]

print(new_word)  
a_list=list(new_word)
print(a_list)

AiBjCkDlEFGH
['A', 'i', 'B', 'j', 'C', 'k', 'D', 'l', 'E', 'F', 'G', 'H']

22. how to create a backup list (notun jinish)

In [ ]:
backup_list=[0*26]
a_list=[0 for abc in range(26)]
print(a_list)
b_list=[2 for saiful in range(26)]
print(b_list)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

23. Counts how many similar digits entry! #frequency measurement

In [ ]:
#Counts how many similar digits entry! #frequency measurement
a_tuple=(0,1,1,2,2,4,4,5,5,8,8,9,9,5,5,4,4,7,7,6,6,1,1,2,2,3,4,1,2,3,4,5,6,7,8,9)
print('Original Tuple:',a_tuple)
a_string=''

for string in a_tuple:                                                           
  a_string+=str(string)
# print(a_list)                                                                    #011224455889955447766112234123456789

backup_list=[0 for numbers in range(10)]
# print(backup_list)                                                              #[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

for count in range(len(a_string)):                                              # index=ord('0')-48=48-48=0          index=ord('1')-48=49-48=1        index=ord('1')-48=49-48=1 
  index=ord(a_string[count])-48                                                      
  backup_list[index]=backup_list[index]+1                                        #backup_list[0]=backup_list[0]+1    backup_list[1]=backup_list[1]+1=1  backup_list[1]=backup_list[1]+1=2
# print('Backup_list',backup_list)

for count in range(0,len(backup_list)):
  print(f"{chr(count+48)} has entered {backup_list[count]} times.")

Original Tuple: (0, 1, 1, 2, 2, 4, 4, 5, 5, 8, 8, 9, 9, 5, 5, 4, 4, 7, 7, 6, 6, 1, 1, 2, 2, 3, 4, 1, 2, 3, 4, 5, 6, 7, 8, 9)
0 has entered 1 times.
1 has entered 5 times.
2 has entered 5 times.
3 has entered 2 times.
4 has entered 6 times.
5 has entered 5 times.
6 has entered 3 times.
7 has entered 3 times.
8 has entered 3 times.
9 has entered 3 times.

24. count how many alphabets

In [ ]:

word='AAbAcBdDdEFGH'
length=len(word)
print(length)
new_list=list(word)
print("New list",new_list)

backup_list=[0 for abc in range(26)]
print("Backup List:", backup_list)

for count in range(0,len(new_list)):
  index=ord((new_list[count]).upper())-65
  backup_list[index]=backup_list[index]+1
print("Backup_list",backup_list)

for count in range(0,len(backup_list)):
  print(f"{chr(count+65)} has been entered {backup_list[count]} times")

13
New list ['A', 'A', 'b', 'A', 'c', 'B', 'd', 'D', 'd', 'E', 'F', 'G', 'H']
Backup List: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
Backup_list [3, 2, 1, 3, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
A has been entered 3 times
B has been entered 2 times
C has been entered 1 times
D has been entered 3 times
E has been entered 1 times
F has been entered 1 times
G has been entered 1 times
H has been entered 1 times
I has been entered 0 times
J has been entered 0 times
K has been entered 0 times
L has been entered 0 times
M has been entered 0 times
N has been entered 0 times
O has been entered 0 times
P has been entered 0 times
Q has been entered 0 times
R has been entered 0 times
S has been entered 0 times
T has been entered 0 times
U has been entered 0 times
V has been entered 0 times
W has been entered 0 times
X has been entered 0 times
Y has been entered 0 times
Z has been entered 0 times

27. same thing count how many alphabets

In [ ]:
#Take two words of different alphabets. split them and print them in 
# a list and count how many individual characters
#Solution of task:10 (breakdown)
word1='ABCDEFGHMNOPWXYZabcdefghijkl'
word2='ijklqrstuvmnopqrstuvwzxyyzaq'
large_word=len(word1)
small_word=len(word2)
add=''
for counter in range(0,small_word):
  add+=word1[counter]+word2[counter]
word=''
word=add+word1[counter+1:]
print(word)  
length=len(word)
print(length)
new_list=list(word)
print("New list",new_list)

backup_list=[0 for abc in range(26)]
print("Backup List:", backup_list)

for count in range(0,len(new_list)):
  index=ord((new_list[count]).upper())-65
  backup_list[index]=backup_list[index]+1
print("Backup_list",backup_list)

for count in range(0,len(backup_list)):
  print(f"{chr(count+65)} has been entered {backup_list[count]} times")

AiBjCkDlEqFrGsHtMuNvOmPnWoXpYqZrasbtcudvewfzgxhyiyjzkalq
56
New list ['A', 'i', 'B', 'j', 'C', 'k', 'D', 'l', 'E', 'q', 'F', 'r', 'G', 's', 'H', 't', 'M', 'u', 'N', 'v', 'O', 'm', 'P', 'n', 'W', 'o', 'X', 'p', 'Y', 'q', 'Z', 'r', 'a', 's', 'b', 't', 'c', 'u', 'd', 'v', 'e', 'w', 'f', 'z', 'g', 'x', 'h', 'y', 'i', 'y', 'j', 'z', 'k', 'a', 'l', 'q']
Backup List: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
Backup_list [3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2, 2, 2, 2, 2, 3, 3]
A has been entered 3 times
B has been entered 2 times
C has been entered 2 times
D has been entered 2 times
E has been entered 2 times
F has been entered 2 times
G has been entered 2 times
H has been entered 2 times
I has been entered 2 times
J has been entered 2 times
K has been entered 2 times
L has been entered 2 times
M has been entered 2 times
N has been entered 2 times
O has been entered 2 times
P has been entered 2 times
Q has been entered 3 times
R has been entered 2 times
S has been entered 2 times
T has been entered 2 times
U has been entered 2 times
V has been entered 2 times
W has been entered 2 times
X has been entered 2 times
Y has been entered 3 times
Z has been entered 3 times

28. Magic number: If the summation of even indexed digits is equal to the summation of odd indexed digits, then the number is
a magic number.

Now, write a Python program that will take a string of numbers where each 
number is separated by a comma. The program should

print a tuple containing two sub-tuples, where the first sub-tuple will hold the magic numbers and the second sub-tuple will hold

the non-magic numbers.

In [ ]:
word="442310,441310,42251,42241,451,452".strip(" ").split(',')
print(word)
sum_even=0
sum_odd=0
magic=[]
nonmagic=[]
for i in word:
  a=i
  for j in range(0,len(a)):
    if j%2==0:
      sum_even+=int(a[j])
    else:
      sum_odd+=int(a[j])
  
  if sum_even==sum_odd:
    magic.append(int(a))
    sum_even=sum_odd=0
  else:
    nonmagic.append(int(a))
    sum_even=sum_odd=0     
# print(sum_even)
# print(sum_odd)
# print(nonmagic)
# print(magic)

lst=[]
lst.append(tuple(magic))
lst.append(tuple(nonmagic))
print('List of Magic and Non Magic numbers: ',tuple(lst))

['442310', '441310', '42251', '42241', '451', '452']
List of Magic and Non Magic numbers:  ((442310, 42251, 451), (441310, 42241, 452))

In [ ]:
word1='RGBRGB'
lst=[]
for i in word1:
  lst.append(i)
print(lst)  
backup_list=[0 for abc in range(26)]
print("Backup List:", backup_list)

new_list=[]
for count in range(0,len(lst)):
  index=ord((lst[count]).upper())-65
  backup_list[index]=backup_list[index]+1
  if backup_list[index]==0:
    pass
  else:
    new_list.append(backup_list[index]) 
print("Backup_list",backup_list)

 
print(new_list)

['R', 'G', 'B', 'R', 'G', 'B']
Backup List: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
Backup_list [0, 2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0]
[1, 1, 1, 2, 2, 2]

29. We all know that the additive primaries are red, green, and blue. Now, write a Python program that will take a color sequence as a
string from the user where R represents Red, G represents Green and B represents Blue. The program should print the choice of
colors that is actually a tuple containing the sub-tuples as (color_name, color_frequency) only if the color_frequency for that color is
at least one in the given color sequence. [You are not allowed to use count() function here.]

In [ ]:
a_tuple=((33, 22, 11), (30, 45, 56, 45,20), (81, 90, 39, 45), (1, 2, 3, 4,5,6))
maximum=0
sum=0
average=0
lst=[]
for i in a_tuple:
  a=i
  for i in a:
    sum+=i
  average=sum/len(a) 
  lst.append(average) 
  if sum>maximum:
    maximum=sum 
    maximum_tuple=a  
  # print(sum)
  # print(average)
  sum=0
  average=0  

print('Average of tuples',lst)
# print(maximum)  

print('Tuple with maximum sum is',maximum_tuple)

Average of tuples [22.0, 39.2, 63.75, 3.5]
Tuple with maximum sum is (81, 90, 39, 45)

30. Suppose two dictionaries are given. Write a Python program that combines two dictionaries and creates a list of values for each
key. Then finally print the combined dictionary.

In [ ]:
dict1 = {'w': 50, 'y': 'Green', 'z': 400}
dict2 = {'x': 300, 'y': 'Red', 'z': 600}


        
for key,values in dict2.items():

   if key  in dict1:
      dict1[key] = [dict1[key]] + [dict2[key]]
   else:
     dict1[key]=[dict2[key]]
         
print(dict1)

{'w': 50, 'y': ['Green', 'Red'], 'z': [400, 600], 'x': [300]}

31. 3.Assume in a video game, there are three agents named Rage, Jett, and Sage. Each of these agents has three normal skills along
with an ultimate skill. Each of these skills have a damage score. To calculate the additive of this score, you need to use the
following formula.


additive_damage_score = sum of the Normal Skill Damage + Ultimate skill damage


Now, write a Python program that will detect the agent’s name using 
“additive_damage_score” the from a given dictionary

where the keys are "Normal Skills", "Ultimate Skill" and the values are the
 damages due to the use of those skills on the

opponents.

• If the additive damage score is less than or equal to 70, then the agent’s name is “Rage”.

• If the additive damage score is greater than 70 and less than or equal to 100, then the agent’s name is “Jett”.

• Otherwise, the agent’s name is “Sage”.


===========================================================

In [ ]:
#Solution:31

given_dict = { "Normal Skills":[10,15,20], "Ultimate Skill":50 }
sum=0
lst=[]

for keys,values in given_dict.items():
  if keys=='Normal Skills':
    a=values
    for i in a:
      sum+=i

  else:
    sum+=values

print('Additive Damage score',sum)
if sum<=70:
  print("The agents name is Rage")
elif 70<=sum<=100:
  print('The agents name is Jett')
else:
  print('The agents name is Sage')

Additive Damage score 95
The agents name is Jett

In [ ]:
#ami bujhlam je integer ke loop e chalano jaai nah
a=50
for i in a:
  print(i)

In [ ]:
#Quiz Tracing Please solve this (section:47)

d1={'Harry' : [20,15], 'Ron': [12,13], 'Hermione': [20,18]}
d2=d1
for i in d1:
   for j in range (len(d2[i])-1):
      if (j%2==0):
         d2 [i][j]=d1[i][j] +d2[i][j]+len(i)
         print(d2[i][j]%5)
      else:
         d2[i][j]= d1[i][j-1] - d2[i][j]+len(i) 

      print(str(d2[i][j]%7)+i[-len(i)])

   print(i[1]+str(d1[i][0])+str(len(d2)/2))

0
3H
a451.5
2
6R
o271.5
3
6H
e481.5

33. INPUT= 10,20,20,30,10,50,90,STOP

    OUTPUT=10-2 times,20-2 times,30-1 times,50-1 times,90-1 times

In [ ]:
user=input().split(",")
myl=[]
# print(myl)

for i in user:
  if i != "," and i!="STOP":
     myl.append(int(i))
     
# print(myl)

newdic={}

for i in myl:
  if i not in newdic:
    newdic[i]=1
  else:
    newdic[i]+=1

for keys,values in newdic.items():

  if keys==90:    
    print(f'{keys}-{values} times',end=(""))
  else:
    print(f'{keys}-{values} times',end=(","))

10,20,20,30,10,50,90,STOP
10-2 times,20-2 times,30-1 times,50-1 times,90-1 times

In [ ]:
#print 33 number question into a dictionary
user=input().split(",")
myl=[]
for i in user:
  if i != "," and i!="STOP":
     myl.append(int(i))
print(myl)
new_dic={}
for j in myl:
  if j not in new_dic:
    new_dic[j]=1
  else:
    new_dic[j]+=1 
print(new_dic)

10,20,20,30,10,50,90,STOP
[10, 20, 20, 30, 10, 50, 90]
{10: 2, 20: 2, 30: 1, 50: 1, 90: 1}

In [ ]:
# ========================================================

#Noob practise for noob coders

In [ ]:
#print see the output
d= {"First Name":"Sifat", "Last Name":"Tanvir"}
for keys,values in d.items():
  print(f'{keys}:{values}')

First Name:Sifat
Last Name:Tanvir

In [ ]:
#print see the output
d= {"A":[10,20,30], "B":(-10,-20,-30), "C":"Junu"}
for values in d:
  for i in d[values]:
    print(i)

10
20
30
-10
-20
-30
J
u
n
u

In [ ]:
#print see the output
d= {1:"N", 2:"B", 3:"U", 4:"D", 5:"N", 6:"F", 9:"U"}
my={}
for keys,values in d.items():
  if keys%2!=0:
     my[keys]=values
print(my)

{1: 'N', 3: 'U', 5: 'N', 9: 'U'}

In [ ]:
#print see the output
students={"CSE" : ["Alex", "Murphy", "Reynolds"], "BBA": ["Joseph", "Sarah", "Elias"], "MNS":["Ray", "Darby"] }
name=input().upper()
c=0
for keys,values in students.items():
  if name==keys:
    c=values

if c==0:
  print('Not found')
else:
  print(c)

LLB
Not found

In [ ]:
# 5. Trace the following code and write the outputs.
d1={1:[2,3,4], 2:[4,5,6], 3:[15]}
d2= d1
d3= d2.copy()
for i in d1:
  for j in range(len(d1[i])):
    if(j==0):
      d2[i][j]= d1[i][j]+d3[i][j]
      print(d2[i][j])
    if (j>0):
      d3[i][j]= d1[i][j-1] - d2[i][j]
    else:
      d3[i][j]= d1[i][j] - d2[i][j]
    print(d3[i][j])
  print(i+d1[i][0]+len(d3))

4
0
-3
-7
4
8
0
-5
-11
5
30
0
6

In [ ]:
# d1={1:[2,3,4], 2:[4,5,6], 3:[15]}
d2= d1
d3= d2.copy()
for i,x in d1.items():
  for j in range(len(x)):
    if (i%3==0):
      d3[i][j]= d1[i][j] - d2[i][j]
    elif (j%2==0):
      d2[i][j]= d1[i][j]+d3[i][j]
    else:
      d3[i][j]= d1[i][j] - d2[i][j]
    print(d3[i][j]+d2[i][j])
  print(i+d1[i][0]+len(d3))
print(d1.keys()== d3.keys())

0
0
-28
4
0
0
-44
5
0
6
True

In [ ]:
#8.Take 10 inputs from the user and create a dictionary with keys 1 to 5 in such a way that 
# each key will indicate to list of numbers divisible by that key.


i=0
lst=[11,2,13,41,25,46,17,28,91,10]
# while i<10:
#   numbers=int(input('sir please enter your desired number: '))
#   lst.append(numbers)
#   i+=1

keys=[1,2,3,4,5]
my={}
for i in keys:
  my[i]=[]
print(my)  
 
for keys,values in my.items():
  for i in lst:
    if i%keys==0:
      my[keys].append(i)

print(my)

{1: [], 2: [], 3: [], 4: [], 5: []}
{1: [11, 2, 13, 41, 25, 46, 17, 28, 91, 10], 2: [2, 46, 28, 10], 3: [], 4: [28], 5: [25, 10]}

In [ ]:
# 9. Merge the following two dictionaries to make the output dictionary:

d1= {"CSE": ["Alex", "Murphy"], "BBA": ["Joseph", "Sarah"] }
d2= {"CSE": ["Murphy", "Reynolds"], "MNS": ["Ray", "Darby"] }
d3={}
d3.update(d1)
d3.update(d2)
print(d3)

{'CSE': ['Murphy', 'Reynolds'], 'BBA': ['Joseph', 'Sarah'], 'MNS': ['Ray', 'Darby']}

In [ ]:
d1= { "A": [13, 31, 24], "B": [23, 12, 24], "C":[14, 31] }

36. Take an input. the key will be words and the values will be letters

In [ ]:
input="Good,things,take,time"
# print(input)
d={}
lsd=''

for i in input:
  for j in i:
    if  j==",":
      lsd+=" "
    else:
      lsd+=j

lsd=lsd.split(" ")

for i in lsd:
  d[i]=[]
  for j in i:
    d[i]+=j
       
   

# print(lsd) 
print(d)

Good,things,take,time
['Good', 'things', 'take', 'time']
{'Good': ['G', 'o', 'o', 'd'], 'things': ['t', 'h', 'i', 'n', 'g', 's'], 'take': ['t', 'a', 'k', 'e'], 'time': ['t', 'i', 'm', 'e']}

37. take a sentence. split them and then make a dicitonary. the words

    will be keys and the alphabets of the words will be values seperated by a 

    hypen.

    Input : The,right,people,stay

    Output: {'The': 'T-h-e', 'right': 'r-i-g-h-t', 'people': 'p-e-o-p-l-e',
    
    'stay': 's-t-a-y'}

In [ ]:
word='The,right,people,stay'.split(",")

# print(word)

a=""
for i in word:
  for j in range(0,len(i)):
    if j==len(i)-1:
      a+=i[j]+" "
      
    else:
      a+=i[j]+"-"  
# print(a)
a=a.split(" ")
# print(a)

lst=[]
for i in a:
  if i=='':
    pass
  else:
    lst.append(i)  

d1={}
for keys in word:
  for values in lst:
    d1[keys]=values
    lst.remove(values)
    break

print(d1)

{'The': 'T-h-e', 'right': 'r-i-g-h-t', 'people': 'p-e-o-p-l-e', 'stay': 's-t-a-y'}

In [ ]:
# 1. Extract "Brazil" from the following tuple. Copy the tuple directly onto your code:
t= (4,95,"Hello",(4,(("Germany>Brazil-Argentina")),True), 5.5)
print(t[3][1][8:14])

Brazil

In [ ]:
# 2. Print all the numbers in the tuple. Copy the tuple directly onto your code:
t= ((21, 34), (41, 23, 21),(10,))

for i in t:
  for j in i:
    print(j)

21
34
41
23
21
10

In [ ]:
# 3. Take 5 numbers from the user and append the in the following tuple. Then print it.
i=0
lst=[]
while i<5:
  numbers=int(input('sir,pleaseeee '))
  i+=1
  lst.append(numbers)

print(tuple(lst))

sir,pleaseeee21
sir,pleaseeee12
sir,pleaseeee34
sir,pleaseeee43
sir,pleaseeee23
(21, 12, 34, 43, 23)

In [ ]:
# 8. Trace the following code and write the outputs.
t1 = (5, 4, 3, 4, 5)
j = 0 
t2=t1
l=list(t1)
while j <= 2: 
    for i in range (0,j+1):
        k= int(str(i)+str(j))%9
        l[j] = t2[j] - t1[k] 
        print(l[j]) 
    j+=1
    print(l[j])
print(l[j-1]==t2[j-1])

0
4
0
1
3
0
-1
-2
4
False

In [ ]:
# 7. Declare a blank tuple and a tuple with only one element.
#  Then concat the tuples. Then print it.
a=(1,)
b=()
print(a+b)

In [ ]:
# 1. Imagine you have the following list in your code
#  (Copy paste it into the code).
# Now extract "baba" from this list. (copy the list directly onto your code)
list1= [5, 6, 7.34, [4,[6,"hi"], ["hello", ["abbaba"], False], 23]]

print(list1[3][2][1][0][2:6])

baba

In [ ]:
# 2. Reverse the following list without any built-in method.
# Sample List: (copy the list directly onto your code)
a=[5, -6, 2, 1, 0, 16]
print(a[-1::-1])

[16, 0, 1, 2, -6, 5]

In [ ]:
# 4. Keep taking inputs from the user until he gives 4
#  unique odd-positive numbers ranging between 0-12 and find their sum.
# Print the list. However, there are 5 unique odd-positive numbers
#  within 0 to 12. 
# Find and print that one missing odd-positive number.

lst=[]
lsd=[1,3,5,7,9,11]
count=0
while count<=4:
  odd=int(input())
  if odd%2!=0 and odd not in lst:
    lst.append(odd)
    count+=1
print(lst) 
for i in lsd:
  if i not in lst:
    print(f'Missing: {i}')

2
1
3
4
3
5
7
11
[1, 3, 5, 7, 11]
Missing: 9

In [ ]:
# 8. Trace the following code
myList = [10, 20, 30, 40, 50, 40, 30, 20, 10]
p = 5 
q = 0 
r = 0 
while q < 9: 
    r = (p + q - r) % 9 
    while r < q: 
        p = p + r 
        myList[q] = myList[q] - myList[r] - int(str(p) + "3")
        r += 1 
    print(myList[q]) 
    p = p - q 
    q += 25 % 12 
print(len(myList) == q)

10
20
30
-129
126
-186
30
-386
-187
True

In [ ]:
# 9. Trace the following code
l1 = [5, 4, 3, 4, 5, 4, 8, 2, 1]
j = 1 
while j <= 3: 
    for i in range (1,j+1):
        k= int(str(i)+str(j))%9
        l1[j] = l1[j] - l1[k] 
        print(l1[i]) 
    j+=1
    print(l1[j])
print(j%3!=0)

1
3
1
-6
4
1
-6
-13
5
True

In [ ]:
L1 = [1,2,3,4,5,6,7]
L2 = ['A','B','C','D']
l3=[]
count=0

for i in L1:
  if count%2==0:
    l3.append(i)
    count+=1
  else:
    for j in L2:
      if count%2!=0:
        l3.append(j)
        count+=1
print(l3)

['A', 2, 'A', 4, 'A', 6, 'A']

In [ ]:
# 9. Trace the following code
givenList = [10, 4, 20, 9, 30, 10, 5, 40, 3, 7]
a = 1
b = 5
c = 2
newList = givenList
while(a<10):
  b = (b + a) % 2
  while(b<a):
    givenList[a] = newList[a]- givenList[b]+c
    b = b+1
  print(givenList[a])
 
  a = a+1
  c += 2
print(10 in givenList)

-4
28
-3
33
-4
15
59
-9
36
True

In [ ]:
# 18. Trace the following code
myList1 = [5,6,1,4,6]
var1 = 2
var3 = myList1
while(var1 < 5):
     var2 = 1
     while(var2 <= var1):
         print(myList1[var2])
         var3[var2] = myList1[var2] + var3[var1] - 9
         var2 = var2 + 1
     var1 = var1 + 1
print(len(var3) in myList1)

6
1
-2
-7
4
-7
-12
-1
6
True

In [ ]:
# 17. Trace the following code
myList = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
b = []
index1 = 0
index2 = 0
b = myList
while (index1 < 10):
   myList[index1] += myList[index2 % 10] + 5
   index2 = 1
   while (index2 < index1):
       myList[index1] = b[index2 % 5] - index1
       index2 += 3
   print(myList[index1])
   index1 += 1

5
5
3
2
1
-4
-5
-6
-5
-6

39. Take a fully smaller-cased word from the user

 and count the number of occurances of each vowel in that word.

In [ ]:
# 15. Take a fully smaller-cased word from the user
#  and count the number of occurances of each vowel in that word.

word='alphanumeric'
new_list=['a','e','i','o','u']
backup_list=[0 for abc in range(5)]
# print("Backup List:", backup_list)

for i in word:
  if i =='a':
    backup_list[0]+=1
  elif i=='e':
    backup_list[1]+=1
  elif i=='i':
    backup_list[2]+=1
  elif i=='o':
    backup_list[3]+=1 
  elif i=='u':
    backup_list[4]+=1
  else:
    pass
for i in range(0,5):
  print(f'{new_list[i]} has occured {backup_list[i]} time(s)')

Backup List: [0, 0, 0, 0, 0]
a has occured 2 time(s)
e has occured 1 time(s)
i has occured 1 time(s)
o has occured 0 time(s)
u has occured 1 time(s)

40. Write a function in Python that will take a string text as input from the user and returns the list of

unique characters concatenated with their ASCII value at the front and back 
side.

==================================================

Sample Input:

"pythonbook"


Function Calling:

function_name("pythonbook")


Sample Output:

['112p112', '121y121', '116t116', '104h104', '111o111', '110n110', '98b98', 
'107k107']

In [ ]:

def function_name(name):
    res=''

    for i in name:
      if i not in res:
         res+=i

    lst=[]
    for i in res:

        lst.append(str(ord(i))+i+str(ord(i)))
    return lst
    # print(lst)    


print(function_name(input('Sir,please enter a string text: ')))

Sir,please enter a string text: pythonbook
['112p112', '121y121', '116t116', '104h104', '111o111', '110n110', '98b98', '107k107']

In [ ]:
#Question: 01
def times_table(num):
  
  for i in range(1,11):
     
     print(f'{num} X {i}={num*i}')

times_table(10)

10 X 1=10
10 X 2=20
10 X 3=30
10 X 4=40
10 X 5=50
10 X 6=60
10 X 7=70
10 X 8=80
10 X 9=90
10 X 10=100

In [ ]:
#Quiz 2

given_list=[1,3,2,2,3,7,6,4]
def index_number(num):
  for i in range(len(given_list)):
      if num==given_list[i]:

        print('index=',end="")
        return i
        break

      else:
        index='Number not Found!'
 
  return index


print(index_number(6))

index=6

41. Write a function in Python that will take a number string text as input from the user and returns a
dictionary having the unique numbers as the keys and the tuple of being the number to be even, odd,
prime and perfect as thevalues.

In [ ]:
def isprime(n):
  if(n<=1):
    return 0
  else:
    for j in range(2,n):
      if (n%j)==0:
        return 0
        return 1
def isperfect(n):
  sum=0
  for i in range(1,n):
    if (n%i)==0:
      sum+=i

    if (sum==n):
      return 1
    else:
      return 0


def function_name(str):
   dict1={}

   for i in str:
     if (i>='0' or i<='9'):
       s=''
       tup1=()
       tup=()
       i=int(i)

       if (i%2==0):
         s='even'
         tup1=(s,)
         tup+=tup1
       else:
         s='odd' 
         tup1=(s,)
         tup+=tup1

       isp=isprime(i)

       if (isp):
         s='prime'
         tup1=(s,)
         tup+=tup1
       else:
         s='not prime'
         tup1=(s,)
         tup+=tup1
       isper=isperfect(i)

       if (isper):
         s='perfect'
         tup1=(s,)
         tup+=tup1

       else:
         s='not perfect'
         tup1=(s,)
         tup+=tup1

       dict1[i]=tup

   return dict1

print(function_name('2441396'))

{2: ('even', 'not prime', 'not perfect'), 4: ('even', 'not prime', 'not perfect'), 1: ('odd', 'not prime', 'not perfect'), 3: ('odd', 'not prime', 'not perfect'), 9: ('odd', 'not prime', 'not perfect'), 6: ('even', 'not prime', 'not perfect')}

In [ ]:
def occurence_counter(sentence):
  l=sentence.split(' ')
  word_dict={}

  for word in l:
    if word in word_dict:
      word_dict[word]=word_dict[word]+1
    else:
      word_dict[word]=1

    sorted_dict=sorted(word_dict.items())
    key=lambda kv:(kv[1],kv[0])

  print(sorted_dict)

text=input('Enter a space sperated string:- ')

occurence_counter(text)

Enter a space sperated string:- "go there come and go here and there go care"
[('"go', 1), ('and', 2), ('care"', 1), ('come', 1), ('go', 2), ('here', 1), ('there', 2)]

In [ ]:
#armeen maam questions

In [ ]:
a='82 * 92 = 1022'.split(" ")
if a[1]=='*':
  if int(a[0])*int(a[2])==int(a[4]):
     b=True
  else:
    a=int(a[0])*int(a[2])
    b=False

elif a[1]=='+':
  if int(a[0])+int(a[2])==int(a[4]):       
      b=True
  else:
    a=int(a[0])+int(a[2])
    b=False

elif a[1]=='-':
  if int(a[0])-int(a[2])==int(a[4]):       
      b=True
  else:
    if a[0]>a[2]:
       a=int(a[0])-int(a[2])
       b=False
    else:
      a=int(a[2])-int(a[0])
      b=False


print({'operand 1':int(a[0]),'operand 2':int(a[2]),'operator':a[1],'is it correct':b})

42. Write a function in Python that will take a string text as input from the user and returns a dictionary
having the unique characters as the keys and the list of their both-way indexes (positive and negative
index) as the values.

In [ ]:
#msi practise sheet fucntion

def function_name(a):
  d1={}
  index=[]
  done=[]

  for i in a:
    if i not in done:
      for j in range(len(a)):
        if i==a[j]:
          index.append(j)
          index.append(-1*len(a)+j)
      d1[i]=index
      index=[]
      done.append(i)
  print(d1)

function_name(input())

pythonbook
{'p': [0, -10], 'y': [1, -9], 't': [2, -8], 'h': [3, -7], 'o': [4, -6, 7, -3, 8, -2], 'n': [5, -5], 'b': [6, -4], 'k': [9, -1]}

In [ ]:
a='1#2#3#4'.split('#')
b=[]

for i in a:
  b.append(int(i))
print(b)

flag=0
d={}

for i in range(len(b)):
  if flag==0:
    pro=1
    for j in range(i+1):
      pro*=b[j]
    flag=1

  else:
    pro=0
    for j in range(i+1):
      pro+=b[j]

    flag=0

  d[i]=pro

print(d)

[1, 2, 3, 4]
{0: 1, 1: 3, 2: 6, 3: 10}

In [ ]:
a={'0':(3,4),'1':(2,3),'2':(1,2)}
b=[]
c=''

for i in a.values():
  b.append(i[1])
b.sort()

for i in b:
  for j,k in a.items():
    if k[1]==i:
      c+=(j*(k[0]))

print(c)

211000

In [ ]:
import math
x=int(input())
y=int(input())
p={'a':(2,5),'b':(1,7),'c':(9,5),'d':(2,6)}
z=[]

for i,j in p.items():
  su=math.sqrt((j[0])-x)**2+(j[1]-y)**2)
  z.append(su)

for i in range(len(z)):
  if i==0:
    mi=z[i]
    index=i

n=0
for i in p.keys():
  if n==index:
    print(i)
    break
  n+=1

43. 
Assume, you have been given a Matrix in a list format. Write a Python function called
print_matrix_list() that will take a list as an argument and print the Matrix in its proper square form.


===================================================================

Given Matrix1:

matrix= [[1, 2, 3, 4], [4, 5, 6, 7], [7, 8, 9, 3], [9, 1, 2, 3]]

Function Call1:

print_matrix_list(matrix)

Sample Output1:

1 2 3 4

4 5 6 7

7 8 9 3

9 1 2 3

In [ ]:
def print_matrix_list(matrix):
  for i in matrix:
    print(*i)

print_matrix_list([[1, 2, 3, 4], [4, 5, 6, 7], [7, 8, 9, 3], [9, 1, 2, 3]])

1 2 3 4
4 5 6 7
7 8 9 3
9 1 2 3

44. Assume you have been given a dictionary named cast where the keys are the names of different series and the values are the list of tuples, where each tuple represents a pair of characters and the actors who played the characters. You need to write a code that will take the name of a character as input and print his/her information according to the output samples.

 
cast = {'Friends': [('Joey', 'Matt'),
 ('Chandler', 'Matthew')],

'BBT': [('Penny', 'Kaley'), ('Sheldon',
 'Jim')],

'Breaking Bad': [('Jesse', 'Aaron'), 
('Walter', 'Bryan')]}

In [ ]:
cast = {'Friends': [('Joey', 'Matt'), ('Chandler', 'Matthew')],
'BBT': [('Penny', 'Kaley'), ('Sheldon', 'Jim')],
'Breaking Bad': [('Jesse', 'Aaron'), ('Walter', 'Bryan')]}

name=input('Enter a character name: ')

for keys,values in cast.items():
  if name==values[0][0]:
    print(f'{name} was played by {values[0][1]} in {keys}')

Enter a character name: Jesse
Jesse was played by Aaron in Breaking Bad

Question 45: Assume, you have been given a dictionary where the keys present the name of the father and the value is a list of names of the sons of that person. For
example A has 3 sons namely X, Y, and Z. Again X has three sons namely E,
F, and G. So, A is the grandfather of E, F, and G.
 
family = {"A" : ["X", "Y", "Z"], "B": 
["M", "N"], "W" : ["A", "B"], "X" :

["E", "F", "G"]}

You need to write a code which takes an input and prints the names of all
his grandsons in the format shown in output samples. If he does not have
any grandchildren just print “Get your sons married first! Wanna_be_grandpa!!”
You can assume the input will always be a key from the dictionary. But we
will check your code with a different dictionary. So do not write a code
for this particular dictionary only.

In [ ]:
id=input()
lst=[]
lst.append(id)
while True:
   if id!='STOP':
     id=input()
     lst.append(id)
   else:
     break  
d1={}     

lsd=['Spring','Summer','Fall']

for i in lsd:
   d1[i]=[]

for i in lst:
     if i[2]=='1':
       d1['Spring'].append(i)

     elif i[2]=='2':
       d1['Fall'].append(i)

     elif i[2]=='3':
       d1['Spring'].append(i)

print(d1)

18101202
20101457
18204354
20201999
19303372
22201858
STOP
{'Spring': [], 'Summer': [], 'Fall': []}
['18101202', '20101457', '18204354', '20201999', '19303372', '22201858', 'STOP']
{'Spring': ['18101202', '20101457', '19303372'], 'Summer': [], 'Fall': ['18204354', '20201999', '22201858']}

In [ ]:
#07
square_matrix_dict = {1 : [1,2,3,4] , 2 : [4,5,6,7] , 3 : [7,8,9,3] , 4:[9,1,2,3] }
def convert_to_list(square_matrix_dict):
   lst=[]
   for i in square_matrix_dict.values():
     lst.append(i)
   print(lst)  
convert_to_list(square_matrix_dict)

[[1, 2, 3, 4], [4, 5, 6, 7], [7, 8, 9, 3], [9, 1, 2, 3]]

46. Assume, you have been given a Square Matrix in a dictionary format. Now, write function called
convert_to_diagonal() which converts the Square Matrix into a Diagonal Matrix. Then prints both the
Square Matrix and Diagonal Matrix in list of list format and their original square format.

[ For printing in square format MUST use the print_matrix_list() function.]

Square Matrix: A square matrix is a matrix with the same number of rows and 
columns.

Diagonal Matrix: Any given square matrix where all the elements are zero except for the elements that

are present diagonally is called a diagonal matrix.


===================================================================
Hints:
Step1: Inside the convert_to_diagonal(), call convert_to_list() for converting 
the dictionary into a list

of lists.

Step2: Store and print the returned Square- Non-diagonal matrix in a variable.

Step3: Call the print_matrix_list() with the returned Square- Non-diagonal 
matrix for printing it in the

original square format.

Step4: Except for the cases, when row_number & column_no is equal, make all 
other elements 0. By

doing this, you will get your Diagonal matrix.

Step5: Call the print_matrix_list() with the Diagonal matrix made in step4 
matrix for printing it in the

original square format.

===================================================================

In [ ]:
# 46
a={1 : [1,2,3,4] , 2 : [4,5,6,7] , 3 : [7,8,9,3] , 4:[9,1,2,3] }

def convert_to_diagonal(matrix):
  for keys,values in matrix.items():
    print(*matrix[keys])
  var=0
  print()
  print()
  for i in matrix.values():
    for j in range(len(i)):
      if j!=var:
        i[j]=0

    var+=1
  for keys,values in matrix.items():
    print(*matrix[keys])      




convert_to_diagonal({1 : [1,2,3,4] , 2 : [4,5,6,7] , 3 : [7,8,9,3] , 4:[9,1,2,3] })

1 2 3 4
4 5 6 7
7 8 9 3
9 1 2 3


1 0 0 0
0 5 0 0
0 0 9 0
0 0 0 3

In [ ]:
#Question 01 (output dekle bujha jaai)
def myfunc(word):
  quote=word.split(',')
  print(quote)
  d1={}
  for i in quote:
    d1[i]=[]
  
    for j in i:
      d1[i].append(j)
  return d1    

print(myfunc('After,all,this,time'))

['After', 'all', 'this', 'time']
{'After': ['A', 'f', 't', 'e', 'r'], 'all': ['a', 'l', 'l'], 'this': ['t', 'h', 'i', 's'], 'time': ['t', 'i', 'm', 'e']}

In [ ]:
#Question 01 (method 02)
def myfunc(word):
  quote=word.split(',')
  d1={}
  for i in quote:
    d1[i]=[]
  for i in quote:    
    for j in i:
      d1[i].append(j)
  return d1    

print(myfunc('After,all,this,time'))

{'After': ['A', 'f', 't', 'e', 'r'], 'all': ['a', 'l', 'l'], 'this': ['t', 'h', 'i', 's'], 'time': ['t', 'i', 'm', 'e']}

In [ ]:
quote='After,all,this,time'.split(',')
d1={}
for i in quote:
  d1[i]=[]
for i in quote:  
  for j in i:
    d1[i].append(j)
    
print(d1)

{'After': ['A', 'f', 't', 'e', 'r'], 'all': ['a', 'l', 'l'], 'this': ['t', 'h', 'i', 's'], 'time': ['t', 'i', 'm', 'e']}

In [ ]:
#Question 02
def myfunc(given):
  d1={}

  for keys,values in given.items():
    if keys[0]==keys[-1]:
      d1[keys[0]]=[values]
      
  return d1

print(myfunc({'madam':512,'harry':550,'doll':427,'lol':327}))

{'m': [512], 'l': [327]}

In [ ]:
myList1= [1,7,5,7,8]
var1 = 2
var3 = myList1
while (var1< 5):
   var2 = 1
   while (var2 <= var1): 
      print (myList1 [var2])
      var3 [var2] = myList1 [var2] - var3 [var1] - 3
      var2 = var2 + 1

   var1 = var1 + 1

print (len (var3) in myList1)

7
5
-1
-3
7
-11
-13
-3
8
False

47. Septon Eustace wanted to account for the dragons that fought during the Targaryen Civil War 
called Dance of The Dragons. Surprisingly, technology thrives in the Seven Kingdoms and the
 old septon has been given the following dictionary -

dragon_dict { "Sunfyre": ("Aegon II",), "Vhagar": ("Visenya", "Baelon", "Laena", = "Aemond"),

"Dreamfyre":("Rhaena", "Helaena"), "Tessarion": ("Daeron",), "Syrax": 
("Rhaenyra",), "Meleys":

("Rhaenys",), "Caraxes": ("Aemon", "Daemon"), "Vermax": ("Jacaerys",), "Arrax": ("Lucerys",), 

"Tyraxas": ("Joffrey",), "Moondancer": ("Baela",), "Sheepstealer": ("Nettles",)
, "Seasmoke": ("Laenor", "Addam") }

The given dictionary has dragons as the keys and their riders (in the form of a
 tuple) as the value.
 Write a Python program that takes the given dictionary and prints a list of dragonriders who rode dragons 
 that were ridden by multiple people. 
 (Meaning the dragons had more than one rider).

Output:
Multiple Riders: ['Visenya', 'Baelon' 'Laena', 'Aemond', 'Rhaena', 'Helaena',
 Aemon' 'Daemon', 'Laenor', 'Addam']

In [ ]:
dragon_dict={ "Sunfyre": ("Aegon II",), "Vhagar": ("Visenya", "Baelon", "Laena", "Aemond"),
"Dreamfyre":("Rhaena", "Helaena"), "Tessarion": ("Daeron",), "Syrax": ("Rhaenyra",), "Meleys": 
("Rhaenys",), "Caraxes": ("Aemon", "Daemon"), "Vermax": ("Jacaerys",), "Arrax": ("Lucerys",), 
"Tyraxas": ("Joffrey",), "Moondancer": ("Baela",), "Sheepstealer": ("Nettles",), "Seasmoke": ("Laenor", "Addam") }

lst=[]

for i in dragon_dict.values():
  if len(i)>1:
    for j in i:
      lst.append(j)

print('Multiple Riders:',lst)

Multiple Riders: ['Visenya', 'Baelon', 'Laena', 'Aemond', 'Rhaena', 'Helaena', 'Aemon', 'Daemon', 'Laenor', 'Addam']

In [ ]:
a_list=input()[1:-1].split(',')
print(a_list)

'ahona,aboni,enan'
['ahona', 'aboni', 'enan']

In [ ]:
java=[166, 16, 47, 75, 941] 
python=[98, 19, 56, 27, 80]
lang=[java, python]

none=None
i=0
while i < 10:
   j=0
   k=2**i

   while j <k:
       lang [j % 2] [j % 5] += k % 3
       if i * j % 5 == 0:
          none=lang[-1]
       elif i * j % 6 == 0:
         lang[j %2 ]==None
       if j + 1 == k:
         i += j
        
       else:
        print(lang[j % 2] [j % 5])
       j += 1
   i += 1
print (java in lang)
print (python or java)

169
171
23
49
29
943
100
18
True
[100, 23, 58, 29, 80]

In [ ]:
a_list=[[166, 16, 47, 75, 941], [98, 19, 56, 27, 80]]
print(a_list[0][2])

47

48. 
Write a function named ascii_summation that finds the total ascii values of all the words in a list,
and returns a dictionary with the highest and lowest ascii_values as corresponding words as values. keys and their

Function Call:

print(ascii_summation(["Disorder", "Anarchy", "Crime", "Lawless"]))

"Chaos",

Output:

{828: "Disorder", 494:"Chaos"}

In [ ]:
def myfunc(a_list):
    sum=0
    lst=[]
    for i in a_list:
      for j in i:
         sum+=ord(j)
      lst.append(sum)   
      sum=0

    maximum=lst[0]
    minimum=lst[0]
    for i in lst:
      if i>maximum:
        maximum=i
      if i<minimum:
        minimum=i  

    d1={}
    for i in a_list:
      for j in i:
        sum+=ord(j)
      if sum==maximum:
        d1[sum]=i
      if sum==minimum:
        d1[sum]=i
      sum=0      
    return d1

a_list=['Disorder','Chaos','Anarchy','Crime','Lawless']
print(myfunc(a_list))

{828: 'Disorder', 494: 'Chaos'}

49. Write a python function that takes a string as an argument and searches all the vowels having at least
two occurrences in that string. Then, prepare and RETURN a dictionary where the keys will be the vowels
occuring at least two times and values will be the list of the positions of those characters in the string.
(You are not allowed to use builtin .count() function here)

Function Call:

print(function_name("hello hi how are you"))

Output:

{'e': [1,15], 'o': [4,10,18]}

In [ ]:
string='hello hi how are you'

d1={}
lst=[]
new=''
vowels='aeiou'
for i in range(len(string)):
  if string[i] in vowels:
    new+=string[i]
for i in new:
  if i in vowel:
    count


print(new)

eoioaeou

In [ ]:
#cute problem
def myfunc(string):
  

   d1={}
   d2={}
   vowel='aeiou'
   for i in range(len(string)):
     if string[i] in vowel:
       if string[i] not in d1:
         d1[string[i]]=[i]
       else:
         d1[string[i]].append(i)  

   for keys,values in d1.items():
     if len(d1[keys])>1:
       d2[keys]=values

   return d2    
string='hello hi how are you'
print(myfunc(string))

{'e': [1, 15], 'o': [4, 10, 18]}

51. print the values of the dictionary if first letter and last letter of the word matches inside a tuple

In [ ]:
def makeTuple(d1):
   
   lst=[]
   for keys,values in d1.items():
     if keys[0]!=keys[-1]:
        lst.append(values)
 

   return tuple(lst)

d1={'bat':311,'madam':512,'hurrah':650,'race car':753,'car':310}
print(makeTuple(d1))

(311, 310)

52. ummmhu find average of the values and put the keys and average inside a tuple in a list

In [ ]:
#cuteeeeeeee
d1={'17101318': [6,3,15,15], '17101265': [5.5,1,7,12], '17101290':[8,5,12.5,19],'17101103': [9,3,11,15],
'17101122': [7.5,5,15,201], '17101153': [4,2,6,9.5]}

sum=0
average=0
lsd=[]
for keys,values in d1.items():
  for j in values:
     sum+=j
  average=(sum/50)*100
  lst.append(keys)
  lst.append(average)
  lsd.append(lst)
  lst=[]
  sum=0
psg=[]
for i in lsd:
  psg.append(tuple(i))
print(psg)

[('17101318', 78.0), ('17101265', 51.0), ('17101290', 89.0), ('17101103', 76.0), ('17101122', 457.0), ('17101153', 43.0)]

In [ ]:
print(f'This is " my hobby')

This is " my hobby

In [ ]:
def A(a,b):
  dict1={}
  for i in range(len(a)):
    total=0
    for k in b[i]:
        total+=int(k)
    dict1[a[i]]=total
  return dict1

student=input().split(' ')
z=[]
for i in range(len(student)):
  x=input().split(" ")
  # print(x)
  z.append(x)

print(A(student,z))

Jay Ray May
10 50 40 20
40 20 30 40
10 20 30 40
{'Jay': 120, 'Ray': 130, 'May': 100}

In [ ]:
print(-7//2)

-4

53. Suppose you are given a dictionary where each key is a digit and the corresponding Values is a codeword for that digit. You are also given a list containing special characters. Take a string input from the user. It is guaranteed that the string contains lowercase characters, spaces, digits and underscore ().
 Now write a Python function that takes the dictionary, the list and the string as
arguments. In your function create a string from the argument string where

a. the digits will be its corresponding code (in the given dictionary) followed
 by a space.

b. every vowel will be its next alphabet.

c. every consonant will be its previous alphabet

d every underscore will be a special character of index (ascii value of '_' * index 
of that '_')%length of the given list in the given list and

e. The spaces are as it is.

And return the string.

[Your program should work for any given dictionary]

Given Dictionary:

codeword = {0: 'nada' 1: 'una', 2: 'bisso' 3 'terra', 4: 'karte', 5: 'panta',
 6: 'soxi'.7: 'sette'

8: 'okto', 9:'nove'}

 special= ['#','@','*','$']

Example 1:

Input:

3r_d world cu_p won i_n 1970

Function Call:

print(NATO_alphabets(codeword, special, '3r_d world cu_p won i_n 1970'))

Output:

terra q*c vpqkc bv$o vpm j$m una nove settle nada 

Explanation:

In the codeword dictionary., the string nada represents its key 0. una 
represents its key 1, sette represents its key 7 and so on and so forth. In the
 given input, the digits are 31, 9, 7, 0, the vowels are o,u,i. Therefore, in 
the resulting string the digits 3, 1, 9, 7, 0 will be una nove: 'sette 'nada 
(followed by a space) the vowel o, u, i will be their next alphabet p, v. 
consonants will be their previous alphabet (for example: d in 3r_d is replaced
 by its previous alphabet c in the resulting string). For the in 3r_d, index of
 is 2, ascii ofis 95 and length of the special list is 4. Therefore, calculated 
index = (95°2) %4 = 2 and the character in 2nd index of the special list is".
 Therefore, in 3rd will be in the resulting string.

For the in Ln, index of is 21, ascii of is 95 and length of the special list is
 4. Therefore, calculated index = (95°21) %4 3 and the character in the 3rd
 index of the special list is $. Therefore, in In will be $ in the resulting
 string.

In [ ]:
#vyrevy
def A(x,y,z):
    a=''

    for i in range(len(z)):
      if ord('0')<=ord(z[i])<=ord('9'):
        a+=x[int(z[i])]+' '
      elif z[i] in 'AEIOUaeiou':
        if z[i]=='z':
          a+='a'
        elif z[i]=='Z':
          a+='A'
        else:
          a+=chr(ord(z[i])+1)
      elif z[i]==" ":
        a+=' '
      elif z[i]=="_":
        a+=y[(ord('_')*i)%len(y)]
      else: #consonant
        if z[i]=='a':
          a+='z'
        elif z[i]=='A':
          a+='Z'
        else:
          a+=chr(ord(z[i])-1)
    return a  

codeword={0:'nada',1:'una',2:'bisso',3:'terra',4:'karte',5:'panta',6:'soxi',7:'settle',
          8:'okto',9:'nove'}

special=['#','@','*','$']

user=input() #3r_d world cu_p won i_n 1970

print(A(codeword,special,user))

3r_d world cu_p won i_n 1970
terra q*c vpqkc bv$o vpm j$m una nove settle nada

54. Write a python program that asks the user for a range (a starting number(inclusive) and an ending number(exclusive)). Make a dictionary with all the numbers that DO NOT end with 1, 2, and 7 within that range. Here in the dictionary, all the digits except 1, 2& 7 are the keys, and numbers that do not end with 1, 2 & 7 are the values. Finally, print the dictionary.

Sample Input 1:

30

50

Sample Output 1:



{0: [30, 40], 3: [33, 43], 4: [34, 44], 5: [35, 45], 6: [36, 46], 8: [38, 48],
 9: [39, 49]}

In [ ]:
####
start=int(input())
end=int(input())
d1={}
for i in range(start,end):
   if str(i)[-1]!='1' and str(i)[-1]!='2' and str(i)[-1]!='7':
     a=str(i)[-1]
     if int(a) not in d1.keys():
        d1[int(a)]=[]

for i in range(start,end):
  if str(i)[-1]!='1' and str(i)[-1]!='2' and str(i)[-1]!='7':
    a=str(i)[-1]
    if int(a) in d1.keys():
      d1[int(a)].append(i)



print(d1)

30
50
{0: [30, 40], 3: [33, 43], 4: [34, 44], 5: [35, 45], 6: [36, 46], 8: [38, 48], 9: [39, 49]}

In [ ]:
#PASSWORD GENERATION


'''
amicse110pro
bnjdtg331gqsp
'''

def encrypt_pass(password):
  d={}
  
  for i in password:
    if i in d:
      d[i]+=1
    else:
      d[i]=1

  encrypt=''
  for i in password:
    val=ord(i)+d[i]

    if val>122:
      val-=26
      encrypt+=chr(val)
#print(encrypt)
  return encrypt,d

password=input('sss ')
encrypted_pass,d=encrypt_pass(password)
print(encrypted_pass)
print(d)

sss aaaaaa

{'a': 6}

In [ ]:
#anagram problem
a=input("Enter string 1:")

b=input("Enter string 2:")

count=0

for i in a:

    for j in b:

        if i==j:

            count=count+1

if count==len(a):

    print("Strings are anagram of each other.")

else:
   print("Strings are not anagram of each other.")